@import "_variables";

.passcode-screen {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.passcode-screen > * {
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -ms-flex-item-align: auto;
    align-self: flex-start;
}

.passcode-screen .passcode-modal-heading {
    padding-top: 30px;
}

.passcode-screen h3 {
    text-align: center;
}

.passcode-screen p {
    text-align: center;
}

.passcode-screen .button-stretch {
    background: inherit !important;
    border-radius: 50%;
    font-size: 18px;
    min-width: 55px;
    min-height: 55px;
    height: 55px;
    width: 55px;
    line-height: 50px;
}

.passcode-screen .button-stretch.activated {
    border: 2px solid $positive !important;
    color: $positive !important;
}

.passcode-screen .button-white {
    color: white;
    font-size: inherit;
}

.passcode-screen .button.icon.ion-ios-arrow-back::before {
    line-height: 50px;
}

.passcode-screen .button-save-passcode::before {
    line-height: 50px;
}

.passcode-screen .col.first-digit {
    margin-left: 15%;
}

.passcode-screen .bullet {
    font-size: 26px;
}

.passcode-screen .digit-box {
    border-bottom: 2px solid #555 !important;
    font-size: 22px;
    padding-bottom: 10px;
}

.passcode-screen .digits-panel {
    margin-top: 20px;
}

.passcode-screen .forgot-pass-container {
    text-align: center;
}
