<plist>
<dict>    
    <key>CFBundleIcons</key>
    <dict>
      <key>CFBundleAlternateIcons</key>
      <dict>
        <key>icon-alt</key>
        <dict>
          <key>UIPrerenderedIcon</key>
          <true/>
          <key>CFBundleIconFiles</key>
          <array>
            <string>icon-alt.png</string>
          </array>
        </dict>
        <key>art-onrecord</key>
        <dict>
          <key>UIPrerenderedIcon</key>
          <true/>
          <key>CFBundleIconFiles</key>
          <array>
            <string>art-onrecord.png</string>
          </array>
        </dict>
        <key>icon1</key>
        <dict>
          <key>UIPrerenderedIcon</key>
          <true/>
          <key>CFBundleIconFiles</key>
          <array>
            <string>icon 1.png</string>
          </array>
        </dict>
        <key>icon2</key>
        <dict>
          <key>UIPrerenderedIcon</key>
          <true/>
          <key>CFBundleIconFiles</key>
          <array>
            <string>icon 2.png</string>
          </array>
        </dict>
            <key>icon3</key>
        <dict>
          <key>UIPrerenderedIcon</key>
          <true/>
          <key>CFBundleIconFiles</key>
          <array>
            <string>icon 3.png</string>
          </array>
        </dict>
        <key>icon4</key>
        <dict>
          <key>UIPrerenderedIcon</key>
          <true/>
          <key>CFBundleIconFiles</key>
          <array>
            <string>icon 4.png</string>
          </array>
        </dict>
        <key>icon5</key>
        <dict>
          <key>UIPrerenderedIcon</key>
          <true/>
          <key>CFBundleIconFiles</key>
          <array>
            <string>icon 5.png</string>
          </array>
        </dict>
        <key>icon6</key>
        <dict>
          <key>UIPrerenderedIcon</key>
          <true/>
          <key>CFBundleIconFiles</key>
          <array>
            <string>icon 6.png</string>
          </array>
        </dict>
        <key>icon7</key>
        <dict>
          <key>UIPrerenderedIcon</key>
          <true/>
          <key>CFBundleIconFiles</key>
          <array>
            <string>icon 7.png</string>
          </array>
        </dict>
        <key>icon8</key>
        <dict>
          <key>UIPrerenderedIcon</key>
          <true/>
          <key>CFBundleIconFiles</key>
          <array>
            <string>icon 8.png</string>
          </array>
        </dict>
        <key>icon9</key>
        <dict>
          <key>UIPrerenderedIcon</key>
          <true/>
          <key>CFBundleIconFiles</key>
          <array>
            <string>icon 9.png</string>
          </array>
        </dict>
        <key>icon10</key>
        <dict>
          <key>UIPrerenderedIcon</key>
          <true/>
          <key>CFBundleIconFiles</key>
          <array>
            <string>icon 10.png</string>
          </array>
        </dict>
        <key>icon11</key>
        <dict>
          <key>UIPrerenderedIcon</key>
          <true/>
          <key>CFBundleIconFiles</key>
          <array>
            <string>icon 11.png</string>
          </array>
        </dict>
        <key>icon12</key>
        <dict>
          <key>UIPrerenderedIcon</key>
          <true/>
          <key>CFBundleIconFiles</key>
          <array>
            <string>icon 12.png</string>
          </array>
        </dict>
        <key>icon13</key>
        <dict>
          <key>UIPrerenderedIcon</key>
          <true/>
          <key>CFBundleIconFiles</key>
          <array>
            <string>icon 13.png</string>
          </array>
        </dict>
        <key>icon14</key>
        <dict>
          <key>UIPrerenderedIcon</key>
          <true/>
          <key>CFBundleIconFiles</key>
          <array>
            <string>icon 14.png</string>
          </array>
        </dict>
        <key>icon15</key>
        <dict>
          <key>UIPrerenderedIcon</key>
          <true/>
          <key>CFBundleIconFiles</key>
          <array>
            <string>icon 15.png</string>
          </array>
        </dict>
        <key>icon16</key>
        <dict>
          <key>UIPrerenderedIcon</key>
          <true/>
          <key>CFBundleIconFiles</key>
          <array>
            <string>icon 16.png</string>
          </array>
        </dict>
        <key>icon17</key>
        <dict>
          <key>UIPrerenderedIcon</key>
          <true/>
          <key>CFBundleIconFiles</key>
          <array>
            <string>icon 17.png</string>
          </array>
        </dict>
        <key>icon18</key>
        <dict>
          <key>UIPrerenderedIcon</key>
          <true/>
          <key>CFBundleIconFiles</key>
          <array>
            <string>icon 18.png</string>
          </array>
        </dict>
        <key>icon19</key>
        <dict>
          <key>UIPrerenderedIcon</key>
          <true/>
          <key>CFBundleIconFiles</key>
          <array>
            <string>icon 19.png</string>
          </array>
        </dict>
      </dict>
    </dict>
    <key>CFBundleIcons~ipad</key>
    <dict>
      <key>CFBundleAlternateIcons</key>
      <dict>
        <key>icon-alt</key>
        <dict>
          <key>UIPrerenderedIcon</key>
          <true/>
          <key>CFBundleIconFiles</key>
          <array>
            <string>icon-alt.png</string>
          </array>
        </dict>
        <key>art-onrecord</key>
        <dict>
          <key>UIPrerenderedIcon</key>
          <true/>
          <key>CFBundleIconFiles</key>
          <array>
            <string>art-onrecord.png</string>
          </array>
        </dict>
        <key>icon1</key>
        <dict>
          <key>UIPrerenderedIcon</key>
          <true/>
          <key>CFBundleIconFiles</key>
          <array>
            <string>icon 1.png</string>
          </array>
        </dict>
        <key>icon2</key>
        <dict>
          <key>UIPrerenderedIcon</key>
          <true/>
          <key>CFBundleIconFiles</key>
          <array>
            <string>icon 2.png</string>
          </array>
        </dict>
            <key>icon3</key>
        <dict>
          <key>UIPrerenderedIcon</key>
          <true/>
          <key>CFBundleIconFiles</key>
          <array>
            <string>icon 3.png</string>
          </array>
        </dict>
        <key>icon4</key>
        <dict>
          <key>UIPrerenderedIcon</key>
          <true/>
          <key>CFBundleIconFiles</key>
          <array>
            <string>icon 4.png</string>
          </array>
        </dict>
        <key>icon5</key>
        <dict>
          <key>UIPrerenderedIcon</key>
          <true/>
          <key>CFBundleIconFiles</key>
          <array>
            <string>icon 5.png</string>
          </array>
        </dict>
        <key>icon6</key>
        <dict>
          <key>UIPrerenderedIcon</key>
          <true/>
          <key>CFBundleIconFiles</key>
          <array>
            <string>icon 6.png</string>
          </array>
        </dict>
        <key>icon7</key>
        <dict>
          <key>UIPrerenderedIcon</key>
          <true/>
          <key>CFBundleIconFiles</key>
          <array>
            <string>icon 7.png</string>
          </array>
        </dict>
        <key>icon8</key>
        <dict>
          <key>UIPrerenderedIcon</key>
          <true/>
          <key>CFBundleIconFiles</key>
          <array>
            <string>icon 8.png</string>
          </array>
        </dict>
        <key>icon9</key>
        <dict>
          <key>UIPrerenderedIcon</key>
          <true/>
          <key>CFBundleIconFiles</key>
          <array>
            <string>icon 9.png</string>
          </array>
        </dict>
        <key>icon10</key>
        <dict>
          <key>UIPrerenderedIcon</key>
          <true/>
          <key>CFBundleIconFiles</key>
          <array>
            <string>icon 10.png</string>
          </array>
        </dict>
        <key>icon11</key>
        <dict>
          <key>UIPrerenderedIcon</key>
          <true/>
          <key>CFBundleIconFiles</key>
          <array>
            <string>icon 11.png</string>
          </array>
        </dict>
        <key>icon12</key>
        <dict>
          <key>UIPrerenderedIcon</key>
          <true/>
          <key>CFBundleIconFiles</key>
          <array>
            <string>icon 12.png</string>
          </array>
        </dict>
        <key>icon13</key>
        <dict>
          <key>UIPrerenderedIcon</key>
          <true/>
          <key>CFBundleIconFiles</key>
          <array>
            <string>icon 13.png</string>
          </array>
        </dict>
        <key>icon14</key>
        <dict>
          <key>UIPrerenderedIcon</key>
          <true/>
          <key>CFBundleIconFiles</key>
          <array>
            <string>icon 14.png</string>
          </array>
        </dict>
        <key>icon15</key>
        <dict>
          <key>UIPrerenderedIcon</key>
          <true/>
          <key>CFBundleIconFiles</key>
          <array>
            <string>icon 15.png</string>
          </array>
        </dict>
        <key>icon16</key>
        <dict>
          <key>UIPrerenderedIcon</key>
          <true/>
          <key>CFBundleIconFiles</key>
          <array>
            <string>icon 16.png</string>
          </array>
        </dict>
        <key>icon17</key>
        <dict>
          <key>UIPrerenderedIcon</key>
          <true/>
          <key>CFBundleIconFiles</key>
          <array>
            <string>icon 17.png</string>
          </array>
        </dict>
        <key>icon18</key>
        <dict>
          <key>UIPrerenderedIcon</key>
          <true/>
          <key>CFBundleIconFiles</key>
          <array>
            <string>icon 18.png</string>
          </array>
        </dict>
        <key>icon19</key>
        <dict>
          <key>UIPrerenderedIcon</key>
          <true/>
          <key>CFBundleIconFiles</key>
          <array>
            <string>icon 19.png</string>
          </array>
        </dict>
      </dict>
    </dict>
</dict>
</plist>