<plist>
<dict>
    <key>CFBundleIcons</key>
    <dict>
      <key>CFBundleAlternateIcons</key>
      <dict>
        <key>art-arrow-right</key>
        <dict>
          <key>UIPrerenderedIcon</key>
          <true/>
          <key>CFBundleIconFiles</key>
          <array>
            <string>art-arrow-right.png</string>
          </array>
        </dict>
        <key>art-calculator</key>
        <dict>
          <key>UIPrerenderedIcon</key>
          <true/>
          <key>CFBundleIconFiles</key>
          <array>
            <string>art-calculator.png</string>
          </array>
        </dict>
        <key>art-camera</key>
        <dict>
          <key>UIPrerenderedIcon</key>
          <true/>
          <key>CFBundleIconFiles</key>
          <array>
            <string>art-camera.png</string>
          </array>
        </dict>
        <key>art-checker</key>
        <dict>
          <key>UIPrerenderedIcon</key>
          <true/>
          <key>CFBundleIconFiles</key>
          <array>
            <string>art-checker.png</string>
          </array>
        </dict>
        <key>art-onrecord</key>
        <dict>
          <key>UIPrerenderedIcon</key>
          <true/>
          <key>CFBundleIconFiles</key>
          <array>
            <string>art-onrecord.png</string>
          </array>
        </dict>
        <key>art-paw</key>
        <dict>
          <key>UIPrerenderedIcon</key>
          <true/>
          <key>CFBundleIconFiles</key>
          <array>
            <string>art-paw.png</string>
          </array>
        </dict>
        <key>art-signal</key>
        <dict>
          <key>UIPrerenderedIcon</key>
          <true/>
          <key>CFBundleIconFiles</key>
          <array>
            <string>art-signal.png</string>
          </array>
        </dict>
        <key>art-train</key>
        <dict>
          <key>UIPrerenderedIcon</key>
          <true/>
          <key>CFBundleIconFiles</key>
          <array>
            <string>art-train.png</string>
          </array>
        </dict>
      </dict>
    </dict>
    <key>CFBundleIcons~ipad</key>
    <dict>
      <key>CFBundleAlternateIcons</key>
      <dict>
        <key>art-arrow-right</key>
        <dict>
          <key>UIPrerenderedIcon</key>
          <true/>
          <key>CFBundleIconFiles</key>
          <array>
            <string>art-arrow-right.png</string>
          </array>
        </dict>
        <key>art-calculator</key>
        <dict>
          <key>UIPrerenderedIcon</key>
          <true/>
          <key>CFBundleIconFiles</key>
          <array>
            <string>art-calculator.png</string>
          </array>
        </dict>
        <key>art-camera</key>
        <dict>
          <key>UIPrerenderedIcon</key>
          <true/>
          <key>CFBundleIconFiles</key>
          <array>
            <string>art-camera.png</string>
          </array>
        </dict>
        <key>art-checker</key>
        <dict>
          <key>UIPrerenderedIcon</key>
          <true/>
          <key>CFBundleIconFiles</key>
          <array>
            <string>art-checker.png</string>
          </array>
        </dict>
        <key>art-onrecord</key>
        <dict>
          <key>UIPrerenderedIcon</key>
          <true/>
          <key>CFBundleIconFiles</key>
          <array>
            <string>art-onrecord.png</string>
          </array>
        </dict>
        <key>art-paw</key>
        <dict>
          <key>UIPrerenderedIcon</key>
          <true/>
          <key>CFBundleIconFiles</key>
          <array>
            <string>art-paw.png</string>
          </array>
        </dict>
        <key>art-signal</key>
        <dict>
          <key>UIPrerenderedIcon</key>
          <true/>
          <key>CFBundleIconFiles</key>
          <array>
            <string>art-signal.png</string>
          </array>
        </dict>
        <key>art-train</key>
        <dict>
          <key>UIPrerenderedIcon</key>
          <true/>
          <key>CFBundleIconFiles</key>
          <array>
            <string>art-train.png</string>
          </array>
        </dict>
      </dict>
    </dict>
</dict>
</plist>