<h3 ng-hide="isCompact"> {{::metric.description}} </h3>
<div ng-controller="attachmentMetricController">
    <div class="thumbnails">
        <div class="thumbnail" ng-repeat="attachment in formValue.attachments" ng-click="showImages($index)">
            <img ng-if="attachment.mediaType==='image'" ng-src="{{attachment.fileUri}}" />
            <video ng-if="attachment.mediaType==='video'" ng-src="{{attachment.fileUri}}" />
            <audio ng-if="attachment.mediaType === 'audio'" ng-src="{{attachment.fileUri}}" controls></audio>
            <div ng-if="attachment.mediaType!=='image' && attachment.mediaType!=='video' && attachment.mediaType !== 'audio'" ng-src="{{attachment.fileUri}}" class="fullscreen-image">{{attachment.mediaType}}</div>
        </div>
    </div>

    <div class="errors" ng-messages="{{inputError}}">
        <div ng-message="required"><span translate>This is required</span></div>
    </div>
</div>