<h3 ng-hide="metricGroup.isRepeater"> {{::metric.description}} </h3>
<div ng-controller="attachmentMetricController">
    <div class="thumbnails">
        <div class="thumbnail" ng-repeat="attachment in formValue.attachments" ng-click="showImages($index)">
            <div class="thumbnail-placeholder" cover-image="images/70x70.png">
                <img ng-src="{{attachment.fileUri | trusted}}" ng-if="attachment.mediaType === 'image'" />
                <video ng-src="{{attachment.fileUri | trusted}}" ng-if="attachment.mediaType==='video'" />
                <div class="audio-thumbnail" ng-if="attachment.mediaType==='audio'">
                    <i class="icon ion-play"></i>
                </div>
            </div>
            
            <div ng-if="attachment.mediaType!=='image' && attachment.mediaType!=='video' && attachment.mediaType !== 'audio'" ng-src="{{attachment.fileUri | trusted}}" class="fullscreen-image">{{attachment.mediaType}}</div>
        </div>
    </div>

    <div class="errors" ng-messages="{{inputError}}">
        <div ng-message="required"><span translate>This is required</span></div>
    </div>
</div>