<div class="list">
    <label ng-if="metric.viewType === 'RadioButtonList'" class="item item-radio" ng-repeat="item in ::metric.dataList.items">
        <input readonly type="radio" name="{{::metric.inputName}}" ng-model="formValue.guidValue" value="{{::item.id}}">
        <div class="radio-content">
            <div class="item-content">
                {{::item.text}}
            </div>
            <i class="radio-icon ion-checkmark"></i>
        </div>
    </label>

    <div ng-if="metric.viewType === 'DropDown'" class="item">
        {{getText(formValue.guidValue)}}
    </div>

</div>