<h3 ng-hide="isCompact"> {{::metric.description}} </h3>
<div ng-controller="freeTextMetricController">
    
    <label class="item item-input" ng-if="metric.numberOfLine==1">
        <input type="text" name="{{::metric.inputName}}" maxlength="{{::metric.maxLength}}" minlength="{{::metric.minLength}}" ng-show="metric.numberOfLine==1"
               ng-required="metric.mandatory" ng-model="formValue.textValue">
    </label>
    <label class="item item-input" ng-if="metric.numberOfLine > 1">
        <textarea name="{{::metric.inputName}}" rows="{{::metric.numberOfLine}}" maxlength="{{::metric.maxLength}}" minlength="{{::metric.minLength}}"
                  ng-required="metric.mandatory"
                  ng-model="formValue.textValue"></textarea>
    </label>
    <div class="errors" ng-messages="{{inputError}}">
        <div ng-message="required"><span translate>This is required</span></div>
        <div ng-message="minlength"><span translate>The length must be more than {{::metric.minLength}}</span></div>
        <div ng-message="maxlength"><span translate>The length must be less than {{::metric.maxLength}}</span></div>
    </div>
</div>