<h3 ng-hide="isCompact"> {{::metric.description}} </h3>
<div class=" range range-positive" ng-controller="rateMetricController">
    <input type="range" aria-label="{{::metric.shortTitle}}"  ng-text-change="rateChanged($event)" ng-min="{{::metric.minValue}}" ng-max="{{::metric.maxValue}}" ng-model="formValue.numericValue">
    {{formValue.numericValue}}
</div>
<script>
    $(function () {
        $("input[type='range']").off("drag").on("drag", function () { $(this).focus(); });
    });
</script>