<ion-view title="My Account" id="accountPage">
    <ion-content class="content padding account" ng-cloak>
        <ion-refresher pulling-text="Pull to refresh account information" on-refresh="doRefresh()"></ion-refresher>
        <div class="row responsive-sm">
            <form name="registerForm" novalidate="novalidate" class="col col-50 col-offset-25">
                <div class="list list-inset" style="margin-top:0">
                    <label class="item item-icon-left">
                        <i class="icon ion-ios-person-outline"></i>
                        <div class="item-input">
                            <input name="firstName" type="text" ng-model="model.firstName" placeholder="Name (required)" required autofocus>
                        </div>
                    </label>
                    <label class="item item-icon-left">
                        <i class="icon ion-ios-person"></i>
                        <div class="item-input">
                            <input name="surname" type="text" ng-model="model.surname" placeholder="Surname (required)" required autofocus>
                        </div>
                    </label>
                    <label class="item item-icon-left">
                        <i class="icon ion-transgender"></i>
                        <div class="item-input item-select">
                            <div class="input-label">
                                Gender
                            </div>
                            <select ng-model="model.gender">
                                <option ng-selected="model.gender == 0">Male</option>
                                <option ng-selected="model.gender == 1">Female</option>
                                <option ng-selected="model.gender == 2">Other</option>
                            </select>
                        </div>
                    </label>
                    <label class="item item-icon-left">
                        <i class="icon ion-ios-calendar-outline"></i>
                        <div class="item-input">
                            <input name="birthdate" ng-model="model.birthdate" placeholder="Birthdate" type="date" required>
                        </div>
                    </label>
                    <label class="item item-icon-left">
                        <i class="icon ion-ios-home-outline"></i>
                        <div class="item-input">
                            <textarea name="address" ng-model="model.address" placeholder="Address" rows="2" required></textarea>
                        </div>
                    </label>
                    <label class="item item-icon-left">
                        <i class="icon ion-ios-telephone-outline"></i>
                        <div class="item-input">
                            <input name="phone" ng-model="model.phoneNumber" placeholder="Phone number" type="text">
                        </div>
                    </label>
                    <div class="">
                        <button class="no-margin-top item button button-full button-energized" type="submit" ng-click="saveChanges()" ng-disabled="requestWorking">
                            <span ng-if="!requestWorking">
                                <i class="icon ion-edit"></i> Save changes
                            </span>
                            <span ng-if="requestWorking">
                                <i class="fa fa-spinner fa-pulse fa-fw"></i> Saving changes
                            </span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </ion-content>
</ion-view>
