<ion-view title="Calendar" id="calendarPage" cache-view="false">
    <ion-header-bar align-title="{{getLeft()}}" class="bar bar-subheader bar-positive calendar" ng-style="CalendarHeaderBarStyle">
        <button ng-if="cal.calendarView==='day'" class="button button-icon button-clear ion-ios-calendar-outline" ng-click="backToMonthView()"></button>
        <h2 ng-if="cal.calendarView==='day'" class="title">{{cal.viewDate | date:'fullDate'}}</h2>
        <button ng-if="cal.calendarView==='month'" class="button button-clear icon-left ion-ios-arrow-left"
                mwl-date-modifier
                date="cal.viewDate"
                decrement="cal.calendarView"
                ng-click="cal.cellIsOpen = false">
            {{months[(cal.viewDate.getMonth()+11)%12]}}
        </button>
        <div ng-if="cal.calendarView==='month'" class="h2 title">
            {{cal.calendarTitle}}
        </div>
        <button ng-if="cal.calendarView==='month'" class="button button-clear icon-right ion-ios-arrow-right"
                mwl-date-modifier
                date="cal.viewDate"
                increment="cal.calendarView"
                ng-click="cal.cellIsOpen = false">
            {{months[((cal.viewDate.getMonth()+1)%12)]}}
        </button>
    </ion-header-bar>
    <ion-content class="content has-subheader padding" ng-cloak ng-style="CalendarContentStyle">
        <mwl-calendar class="survey-calendar"
                      view="cal.calendarView"
                      view-date="cal.viewDate"
                      events="cal.events"
                      view-title="cal.calendarTitle"
                      on-event-click="cal.eventClicked(calendarEvent)"
                      on-event-times-changed="calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd"
                      cell-is-open="true">
        </mwl-calendar>
    </ion-content>
</ion-view>