<ion-view view-title="Home" class="login" cache-view="false">
    <ion-content class="content has-footer padding" ng-cloak>
        <div class="padding-horizontal">
            <div class="text-center">
                <div class="inline text-center login-header">
                    <img class="pull-left" src="images/art-onrecord.png" alt="onrecord" width="100" />
                    <span class="pull-left brand">RECORD</span>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="row responsive-lg" ng-if="!emailSent">
            <div class="col col-50 col-offset-25">
                <form name="registerForm" novalidate="novalidate" class="col col-50 col-offset-25" style="margin-bottom: 0">
                    <div class="list list-inset" style="margin-top: 10px; margin-bottom: 0">
                        <label class="item item-icon-left" ng-disabled="isWorking">
                            <i class="icon ion-ios-person-outline"></i>
                            <span class="item-input">
                                <input name="email" type="email" ng-model="model.email" placeholder="Email address" required autocomplete="off" ng-disabled="isWorking">
                            </span>
                        </label>

                        <div class="">
                            <button class="no-margin-top item button button-full button-energized " type="submit" ng-click="sendConfirmation()" ng-disabled="isWorking">
                                <span ng-if="!isWorking">
                                    <i class="icon ion-log-in"></i> Send confirmation email
                                </span>
                                <span ng-if="isWorking">
                                    <i class="fa fa-spinner fa-pulse fa-fw"></i> Please wait
                                </span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row responsive-lg" ng-if="emailSent">
            <div class="col">
                <h3 class="light">
                    <i class="icon ion-checkmark-circled"></i> Confirmation email sent
                </h3>
                <p class="lead light">
                    Please check your inbox and your spam folder just in case. You should receive the email shortly.
                </p>
            </div>
        </div>
    </ion-content>
    <div class="bar bar-footer bar-default" style="background-color: #1D2331; color: white">
        <div class="title">
            <small>
                <a ui-sref="login" nav-transition="none">Back to login screen</a>
            </small>
        </div>
    </div>
</ion-view>