<ion-view title="Records" id="recordingsPage">
    <ion-header-bar align-title="{{getLeft()}}" class="bar bar-subheader bar-light">
        <h2 class="title">
            <span ng-if="drafts.length">
                <span class="color-block" ng-style="{'background-color': formTemplate.colour}"></span> {{formTemplate.title}}: <span ng-if="drafts.length">{{drafts.length}} records</span>
            </span>
            <span ng-if="!drafts.length">
                    <span class="color-block" ng-style="{'background-color': formTemplate.colour}"></span> {{formTemplate.title}}: no records
            </span>
        </h2>
    </ion-header-bar>
    <ion-content class="content has-subheader padding" ng-cloak delegate-handle="drafts-handle">
        <div class="card" ng-repeat="draft in drafts | orderBy:'dateUpdated':true" ng-class="{ 'draft': !draft.isSubmitted, 'advice-record': draft.filledById !== currentUserId }" style="margin-top: 15px; margin-bottom: 15px">
            <div class="item item-divider">
                <span am-time-ago="draft.dateCreated"></span>
                <small class="text-muted">({{draft.dateCreated | amUtc | amLocal | amDateFormat:'MMM DD YYYY'}})</small>
                <span class="right-side">
                    <i class="icon ion-clock"></i> {{draft.dateCreated | amUtc | amLocal | amDateFormat:'HH:mm'}}
                </span>
            </div>

            <div class="item item-body">
                <p ng-if="!draft.isSubmitted">
                    Pick up where you left off. Edit your draft and upload when you're ready.
                </p>

                <p ng-if="draft.description" style="margin-top: 0">
                    <strong>Description</strong><br />
                    {{draft.description}}
                </p>

                <p ng-if="draft.attachments">
                    <strong>Attachments</strong><br />

                    <span ng-if="draft.metadata.images.length" ng-click="viewSurvey(draft)">
                        <i class="icon ion-image"></i> {{draft.metadata.images.length}} image<span ng-if="draft.metadata.images.length > 1">s</span>
                    </span>

                    <span ng-if="draft.metadata.videos.length" ng-click="viewSurvey(draft)">
                        <i class="icon ion-ios-videocam"></i> {{draft.metadata.videos.length}} video<span ng-if="draft.metadata.videos.length > 1">s</span>
                    </span>

                    <span ng-if="draft.metadata.audios.length" ng-click="viewSurvey(draft)">
                        <i class="icon ion-mic-a"></i> {{draft.metadata.audios.length}} audio<span ng-if="draft.metadata.audios.length > 1">s</span>
                    </span>

                    <span ng-if="draft.metadata.documents.length" ng-click="viewSurvey(draft)">
                        <i class="icon ion-document-text"></i> {{draft.metadata.documents.length}} document<span ng-if="draft.metadata.documents.length > 1">s</span>
                    </span>

                    <span ng-if="draft.metadata.files.length" ng-click="viewSurvey(draft)">
                        <i class="icon ion-document"></i> {{draft.metadata.files.length}} file<span ng-if="draft.metadata.files.length > 1">s</span>
                    </span>
                </p>

                <hr />

                <p>
                    <a ng-click="delete(draft)">
                        <i class="icon ion-ios-trash"></i>
                        <span translate> Delete</span>
                    </a>

                    <a class="right-side" ng-click="continue(draft)" ng-show="!draft.isSubmitted">
                        <i class="icon ion-edit"></i>
                        <span translate>Edit Draft</span>
                    </a>

                    <a class="right-side" ng-click="viewSurvey(draft, $index)" ng-show="draft.isSubmitted">
                        <i class="icon ion-eye"></i>
                        <span translate>View Record</span>
                    </a>
                </p>
            </div>
        </div>

        <div ng-if="!drafts.length">
            <p class="lead light"><i class="icon ion-coffee"></i> There are no records to show</p>
        </div>
    </ion-content>
</ion-view>