<ion-view title="Recordings" id="recordingsPage">
    <ion-header-bar align-title="{{getLeft()}}" class="bar bar-subheader bar-light">
        <h2 class="title">{{formTemplate.title}}</h2>
    </ion-header-bar>
    <ion-content class="content has-subheader padding" ng-cloak>
        <div class="card" data-ng-repeat="draft in drafts | orderBy:'dateUpdated':true" ng-class="{'draft': !draft.isSubmitted}">
            <div class="item item-text-wrap">
                <h3 ng-if="draft.description !== undefined">
                    {{draft.description}}
                </h3>
                <h3 ng-if="draft.attachments !== ''">
                    Attachments: {{draft.attachments}}
                </h3>
                <h4 class="small">
                    <span translate>Created at</span> {{dateToString(draft.dateCreated)}}, 
                    <span translate>last Updated at</span> {{dateToString(draft.dateUpdated)}}
                </h4>
            </div>

            <div class="item">
                <a ng-click="delete(draft)">
                    <i class="icon ion-android-delete"></i>
                    <span translate> Delete</span>
                </a>
                <a class="right-side" ng-click="continue(draft)" ng-show="!draft.isSubmitted">
                    <span translate> Complete Draft </span>
                    <i class="icon ion-chevron-{{getRight()}}"></i>
                </a>
                <a class="right-side" ng-click="viewSurvey(draft)" ng-show="draft.isSubmitted">
                    <span translate> View </span>
                    <i class="icon ion-chevron-{{getRight()}}"></i>
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>