<ion-view title="Feedback">
    <ion-content class="content padding" ng-cloak>
        <div ng-if="!feedbackSent">
            <div class="list">
                <div class="item item-text-wrap" ng-disabled="feedbackWorking">
                    <h3>Your Comment</h3>
                    <br />
                    <label class="item item-input">
                        <textarea placeholder="Enter your comment and tap send" rows="10" ng-model="model.comment" ng-disabled="feedbackWorking"></textarea>
                    </label>
                </div>
                <br />
                <p class="light">We read all the feedback and take it seriously. We may sometimes get back to you for clarification.</p>
            </div>

            <button class="button button-positive button-block" ng-disabled="model.comment.length < 1 || feedbackWorking" ng-click="sendFeedback()">
                <span ng-if="!feedbackWorking">
                    <i class="icon ion-paper-airplane"></i> Send feedback
                </span>
                <span ng-if="feedbackWorking">
                    <i class="fas fa-spinner fa-pulse"></i> Sending feedback
                </span>
            </button>
        </div>

        <div ng-if="feedbackSent">
            <div class="card">
                <div class="item item-text-wrap">
                    <h1 class="text-success"><i class="fas fa-check"></i> Feedback Sent</h1>
                    <br />
                    <p>We read all the feedback and take it seriously. We may sometimes get back to you for clarification.</p>
                    <br />
                </div>
            </div>

            <a class="button button-light button-clear button-block" ui-sref="home">
                <i class="fas fa-long-arrow-alt-left"></i> back to home
            </a>
        </div>
    </ion-content>
</ion-view>
