<ion-view view-title="Forgot Password" class="login" cache-view="false">
    <ion-content class="content has-footer padding" ng-cloak>
        <div class="padding-horizontal">
            <div class="text-center">
                <div class="inline text-center login-header">
                    <img class="pull-left" src="images/art-onrecord.png" alt="onrecord" width="100" />
                    <span class="pull-left brand">RECORD</span>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="row responsive-lg">
            <div class="col col-50 col-offset-25">
                <div class="card" ng-show="emailSent" ng-cloak>
                    <div class="item item-text-wrap">
                        <i class="fa fa-check"></i>

                        We have just sent a password reset token to your email address. Make sure to check your Spam folder (just in case). The email
                        contains a link for you to set a new password.
                    </div>
                </div>

                <form name="forgotPassForm" novalidate="novalidate" ng-show="!emailSent" ng-cloak>
                    <div class="list list-inset">
                        <label class="item item-icon-left" ng-disabled="isWorking">
                            <i class="icon ion-ios-person-outline"></i>
                            <span class="item-input">
                                <input name="email" type="email" ng-model="model.email" placeholder="Email address" required autofocus autocomplete="off"
                                    ng-disabled="isWorking">
                            </span>
                        </label>

                        <div class="">
                            <button class="no-margin-top item button button-full button-energized" type="submit" ng-click="resetPassword()" ng-disabled="isWorking">
                                <i class="fa fa-spin fa-cog" ng-if="isWorking"></i>

                                Reset Password
                            </button>
                        </div>
                    </div>
                </form>

                <br />

                <div class="bar bar-positive">
                    <div class="title">
                        <a class="button button-clear" ui-sref="login" nav-transition="none">Back to login screen</a>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>