<ion-view view-title="Forgot Password" class="login" cache-view="false">
    <ion-content class="content has-footer padding" ng-cloak>
        <div class="padding-horizontal">
            <div class="text-center">
                <div class="inline text-center login-header">
                    <img src="images/icon-alt.png" alt="onrecord" width="100" />
                </div>
            </div>
        </div>
        <div class="row responsive-lg" ng-if="!emailSent">
            <div class="col col-50 col-offset-25">
                <form name="forgotPassForm" novalidate="novalidate">
                    <div class="list list-inset">
                        <label class="item item-icon-left" ng-disabled="isWorking">
                            <i class="icon ion-ios-person-outline"></i>
                            <span class="item-input">
                                <input name="email" type="email" ng-model="model.email" placeholder="Email address" required autofocus autocomplete="off"
                                       ng-disabled="isWorking">
                            </span>
                        </label>

                        <div class="">
                            <button class="no-margin-top item button button-full button-energized" type="submit" ng-click="resetPassword()" ng-disabled="isWorking">
                                <i class="fa fa-spinner fa-pulse fa-fw" ng-if="isWorking"></i> Reset Password
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row responsive-lg" ng-if="emailSent">
            <div class="col">
                <div class="card" style="margin-top: 0">
                    <div class="item item-text-wrap">
                        <i class="fa fa-check"></i>

                        We have just sent a password reset token to your email address. Make sure to check your Spam folder (just in case). The email
                        contains a link for you to set a new password.
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
    <div class="bar bar-footer bar-default" style="background-color: #1D2331; color: white">
        <div class="title">
            <small>
                <a ui-sref="login" nav-transition="none">Back to login screen</a>
            </small>
        </div>
    </div>
</ion-view>