<ion-view title="Make and review your records" id="homePage" class="home" cache-view="false">
    <ion-content has-bouncing="true" padding="true" class="has-header">
        <ion-refresher pulling-text="Pull to refresh and sync records" on-refresh="doRefresh()"></ion-refresher>
        <h2 class="padding light m-0">
            <a class="button button-light button-clear button-large" ng-click="cloneTemplate()"><i class="icon ion-plus"></i> Add a new thread</a>
        </h2>
        <ion-list ng-if="formTemplates.length">
            <ion-item class="item-dark form-item" data-ng-repeat="form in formTemplates">
                <div class="light">
                    <span class="color-block" ng-style="{'background-color': form.colour}"></span> {{form.title}}
                </div>
                <div class="small desc">
                    {{form.description}}
                </div>
                <br />

                <div>
                    <a class="button button-dark" ng-click="goDrafts(form)">
                        <i class="icon ion-ios-paper-outline" style="vertical-align: middle"></i> 
                        <span translate>{{form.draftsNumber}} record{{ form.draftsNumber > 1 ? "s" : ""}}</span>
                    </a>

                    <a class="button button-dark right-side" ng-click="startSurvey(form)">
                        <span translate style="padding-right: 5px">Start</span>
                        <i class="icon ion-ios-arrow-forward" style="vertical-align: middle"></i>
                    </a>
                </div>
                <ion-option-button ng-if="form.createdById == currentContext.userId" class="button-assertive" ng-click="deleteTemplate(form)">Delete</ion-option-button>
                <ion-option-button ng-if="form.createdById == currentContext.userId" class="button-positive" ng-click="editTemplate(form)">Edit</ion-option-button>
            </ion-item>
        </ion-list>

        <div class="card" ng-if="formTemplates.length < 1">
            <div class="item item-text-wrap">
                <i class="icon ion-happy-outline"></i> There's nothing to show here.
            </div>
        </div>
    </ion-content>
</ion-view>



