<div class="modal image-modal" ng-click="closeModal()">
    <ion-slide-box on-slide-changed="slideChanged(index)" show-pager="true" active-slide="activeSlide">
        <ion-slide ng-repeat="attachment in formValue.attachments">
            <img ng-if="attachment.mediaType==='image'" ng-src="{{attachment.fileUri}}" class="fullscreen-image" />
            <video ng-if="attachment.mediaType==='video'" ng-src="{{attachment.fileUri}}" class="fullscreen-image" controls="controls"/>
            <button ng-if="attachment.mediaType === 'audio'" class="button button-full button-positive" ng-click="playAudio(attachment); $event.stopPropagation();">
                <i class="icon ion-play"></i>
            </button>
        </ion-slide>
    </ion-slide-box>
</div>