<div class="modal image-modal" ng-click="closeModal()">
    <ion-slide-box on-slide-changed="slideChanged(index)" show-pager="true" active-slide="activeSlide">
        <ion-slide ng-repeat="attachment in formValue.attachments">
            <img ng-if="attachment.mediaType==='image'" ng-src="{{attachment.fileUri}}" class="fullscreen-image" />
            <video ng-if="attachment.mediaType==='video'" ng-src="{{attachment.fileUri}}" class="fullscreen-image" controls="controls"/>
        </ion-slide>
    </ion-slide-box>
</div>