<div class="modal image-modal" ng-click="closeModal()">
    <ion-slide-box on-slide-changed="slideChanged(index)" show-pager="true" active-slide="activeSlide">
        <ion-slide ng-repeat="attachment in formValue.attachments">
            <img ng-if="attachment.mediaType==='image'" ng-src="{{getDownloadUrl(attachment)}}" class="fullscreen-image" />
            <video ng-if="attachment.mediaType==='video'" ng-src="{{getDownloadUrl(attachment)}}" class="fullscreen-image" controls="controls"/>
            
            <div ng-if="attachment.mediaType === 'audio'">
                <div class="button-bar audio-controls-bar">
                    <button class="button button-positive" ng-click="playAudio(attachment); $event.stopPropagation();">
                        <i class="icon ion-play"></i>
                    </button>
                    <button class="button button-positive" ng-click="pauseAudio(); $event.stopPropagation();">
                        <i class="icon ion-pause"></i>
                    </button>
                </div>
                <div class="audio-duration-label" ng-if="currentMediaDuration">
                    <p>duration: {{currentMediaDuration}} sec.</p>
                </div>
            </div>
        </ion-slide>
    </ion-slide-box>
</div>