<ion-view view-title="Landing" class="login" cache-view="false">
    <ion-content class="content has-footer padding" ng-cloak>
        <div class="padding-horizontal">
            <div class="text-center">
                <div class="inline text-center login-header">
                    <img class="pull-left" src="images/art-onrecord.png" alt="onrecord" width="100" />
                    <span class="pull-left brand">RECORD</span>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="row responsive-lg">
            <div class="col">
                <h2>You've got the app, you're nearly there!</h2>

                <p class="lead"><br /></p>
                <p class="lead">Sign up for your free account, make a thread, upload text, voice, photos and documents.</p>
                <p class="lead">Get advice from professionals who can help.</p>
                <p class="lead" ng-if="platformIsIOS"><br /></p>
                <p class="lead" ng-if="platformIsIOS"><br /></p>

                <button class="button button-full button-energized icon ion-log-in" ui-sref="login">
                    Have an account? Sign in
                </button>
                <button class="button button-full button-royal icon ion-person-add" ui-sref="register">
                    Sign up now
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>