<ion-view view-title="Landing" class="login" cache-view="false">
    <ion-content class="content has-footer padding">
        <div class="padding-horizontal">
            <div class="text-center">
                <div class="inline text-center login-header">
                    <img src="images/icon-alt.png" alt="onrecord" width="100" />
                </div>
            </div>
        </div>
        <div class="row responsive-lg">
            <div class="col">
                <p class="lead">When making records using OnRecord you can:</p>
                <p class="lead">
                    - Attach photos, voices, videos and documents.<br />
                    - See your records on a timeline, calendar or map.<br />
                    - Link to professionals who can help.<br />
                    - Set PIN or fingerprint login.<br />
                    - Use the security features to conceal your records.
                </p>
                <p class="lead">
                    Sign up to open your free account.<br />
                    Or sign in if you already have an account.
                </p>

                <button class="button button-block button-royal icon ion-log-in" ui-sref="login">
                    Have an account? Sign in
                </button>
                <button class="button button-block button-positive icon ion-person-add" ui-sref="register">
                    Sign up now
                </button>

                <p class="lead text-center">
                    For help getting started, go to our YouTube channel <a class="youtube_link" href="#" onclick="window.open('https://www.youtube.com/channel/UCIOsMJFjleok9ZXxt4n7SCA/playlists', '_system', 'location=yes'); return false;">OnRecord Flash Videos</a>.
                </p>
            </div>
        </div>
    </ion-content>
</ion-view>