<ion-view view-title="Home" class="login_screen" cache-view="false">
    <ion-content class="content has-footer padding">
        <div class="padding-horizontal">
            <div class="text-center">
                <div class="inline text-center login-header">
                    <img src="images/icon-alt.png" alt="onrecord" width="100" />
                </div>
            </div>
        </div>
        <div class="row responsive-lg">
            <div class="col col-50 col-offset-25" style="margin-bottom: 0">
                <form name="loginForm" novalidate="novalidate" ng-show="!isQuickLoginActive" class="col col-50 col-offset-25" style="margin-bottom: 0">
                    <div class="list list-inset" style="margin-top: 10px; margin-bottom: 0">
                        <label class="item item-icon-left" ng-disabled="loginWorking">
                            <i class="icon ion-ios-person-outline"></i>
                            <span class="item-input">
                                <input name="email" type="email" ng-model="loginData.email" placeholder="Email address" required autocomplete="off" ng-disabled="loginWorking">
                            </span>
                        </label>

                        <label class="item item-icon-left" ng-disabled="loginWorking">
                            <i class="icon ion-ios-locked-outline"></i>
                            <span class="item-input">
                                <input name="password" ng-model="loginData.password" placeholder="Password" type="password" required autocomplete="off" ng-disabled="loginWorking">
                            </span>
                        </label>
                        <div class="">
                            <button class="button button-block button-royal login-button" type="submit" ng-click="login()" ng-disabled="loginWorking">
                                <span ng-if="!loginWorking">
                                    <i class="icon ion-log-in"></i> Sign in
                                </span>
                                <span ng-if="loginWorking">
                                    <i class="fa fa-spinner fa-pulse fa-fw"></i> Please wait
                                </span>
                            </button>
                        </div>
                    </div>
                    <div class="light" ng-show="isQuickLoginAvailable">
                        <a ng-click="loginWithExistingAccounts()" class="button button-clear button-full button-light">Login to an existing profiles</a>
                    </div>
                </form>
            </div>
        </div>
        <div class="row responsive-lg">
            <div class="col">
                <div class="bar bar-light">
                    <div class="title">
                        <a class="button button-clear button-italic" ui-sref="forgotPassword">Forgot password?</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row responsive-lg">
            <div class="col">
                <div class="bar bar-light">
                    <div class="title">
                        <a class="button button-clear button-italic" ui-sref="confirmEmail">Resend email confirmation</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row responsive-lg">
            <div class="col">
                <br><br>
                <p class="positive" style="text-align: center">For quick login next time, set a PIN code or enable fingerprint access in the 'Settings' screen</p>
            </div>
        </div>
    </ion-content>

    <div class="bar bar-footer bar-light">
        <div class="title">
            <button class="button button-clear button-bold" ui-sref="register">Create Account</button>
        </div>
        <!--<div class="login-footer"></div>-->
    </div>
</ion-view>