<ion-side-menus>
    <ion-side-menu-content>
        <ion-nav-bar text class="bar-stable bar-positive with-button">
            <ion-nav-back-button></ion-nav-back-button>
            <ion-nav-buttons side="{{::getLeft()}}">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="{{::getLeft()}}"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="{{::getLeft()}}">
        <ion-header-bar class="bar-positive">
            <h1 class="title"></h1>
        </ion-header-bar>
        <div class="bar bar-subheader bar-positive ">
            <h2 class="title" translate>Welcome {{currentContext.userEmail}}</h2>
        </div>
        <ion-content class="has-subheader positive">
            <ion-list>
                <ion-item ng-disabled="uploading" class="item item-positive item-icon-{{::getLeft()}}" ui-sref="home" menu-close="">
                    <i class="fas fa-home fa-2x"></i> <span translate>Home</span>
                </ion-item>
                <ion-item ng-if="numberOfAvailableProjects > 1 && currentContext.project" class="item item-positive item-icon-{{::getLeft()}}" ui-sref="projects" menu-close="">
                    <i class="fas fa-folder fa-2x"></i>
                    <span>&nbsp;{{currentContext.project.name}}</span>
                </ion-item>
                <!--<ion-item class="item item-positive item-icon-{{::getLeft()}}" ng-click="refresh()">
                    <i class="icon ion-refresh"></i>
                    <span translate>Refresh forms</span>
                </ion-item>-->
                <!--<ion-item ng-disabled="uploading" class="item item-positive item-icon-{{::getLeft()}}" ng-click="uploadAll()">
                    <i class="icon ion-upload"></i>
                    <span translate>Upload surveys</span>
                </ion-item>-->
                <ion-item ng-disabled="uploading" class="item item-positive item-icon-{{::getLeft()}}" ui-sref="calendar" menu-close="">
                    <i class="fas fa-calendar-alt fa-2x"></i>
                    <span translate> Calendar</span>
                </ion-item>
                <ion-item ng-disabled="uploading" class="item item-positive item-icon-{{::getLeft()}}" ui-sref="timeline" menu-close="">
                    <i class="fas fa-chart-bar fa-2x"></i>
                    <span translate> Timeline</span>
                </ion-item>
                <ion-item ng-disabled="uploading" class="item item-positive item-icon-{{::getLeft()}}" ui-sref="settings" menu-close="">
                    <i class="fas fa-cog fa-2x"></i>
                    <span translate> Settings</span>
                </ion-item>
                <ion-item ng-disabled="uploading" class="item item-positive item-icon-{{::getLeft()}}" ui-sref="account" menu-close="">
                    <i class="fas fa-user-circle fa-2x"></i>
                    <span translate> My Account</span>
                </ion-item>
                <!--<ion-item class="item item-positive item-icon-{{::getLeft()}}" ng-click="switchUser()">
                    <i class="icon ion-person-stalker"></i>
                    <span translate> Switch user</span>
                </ion-item>-->
                <ion-item ng-disabled="uploading" class="item item-positive item-icon-{{::getLeft()}}" ui-sref="feedback" menu-close="">
                    <i class="fas fa-comments fa-2x"></i>
                    <span translate>Feedback</span>
                </ion-item>
                <ion-item ng-disabled="uploading" class="item item-positive item-icon-{{::getLeft()}}" ui-sref="guidance" menu-close="">
                    <i class="fas fa-info-circle fa-2x"></i>
                    <span translate> Guidance</span>
                </ion-item>
                <ion-item ng-disabled="uploading" class="item item-positive item-icon-{{::getLeft()}}" menu-close="" ng-click="logOut()" style="padding: 10px 15px">
                    <i class="fas fa-sign-out-alt fa-2x"></i>
                    <span translate> Logout</span>
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>

