<ion-modal-view class="passcode_modal_screen">
    <ion-header-bar class="bar-stable bar-positive with-button" ng-hide="dialogMode === 'login'">
        <h1 class="title">Local Passcode</h1>
        <button class="button button-icon button-clear ion-ios-close-outline" ng-click="closeModal()" style="margin-top: 0"></button>
    </ion-header-bar>
    <ion-content class="content passcode-screen">
        <div class="passcode-modal-heading">
            <h3>{{headingText}}</h3>
            <p class="lead">Please enter your PIN</p>
        </div>

        <div id="passcode-container">
            <div class="row" style="text-align: center">
                <div class="col col-10 col-offset-10 first-digit">
                    <span class="bullet" ng-if="passcode.substring(0,1).length">&bull;</span>
                </div>

                <div class="col col-10 col-offset-10">
                    <span class="bullet" ng-if="passcode.substring(1,2).length">&bull;</span>
                </div>
                <div class="col col-10 col-offset-10">
                    <span class="bullet" ng-if="passcode.substring(2,3).length">&bull;</span>
                </div>
                <div class="col col-10 col-offset-10">
                    <span class="bullet" ng-if="passcode.substring(3,4).length">&bull;</span>
                </div>
            </div>
        </div>
        <div class="digits-panel">
            <div class="row">
                <div class="col col-20 col-offset-20">
                    <button class="button button-stretch" ng-click="addDigit(1)">1</button>
                </div>
                <div class="col col-20">
                    <button class="button button-stretch" ng-click="addDigit(2)">2</button>
                </div>
                <div class="col col-20">
                    <button class="button button-stretch" ng-click="addDigit(3)">3</button>
                </div>
            </div>
            <div class="row">
                <div class="col col-20 col-offset-20">
                    <button class="button button-stretch" ng-click="addDigit(4)">4</button>
                </div>
                <div class="col col-20">
                    <button class="button button-stretch" ng-click="addDigit(5)">5</button>
                </div>
                <div class="col col-20">
                    <button class="button button-stretch" ng-click="addDigit(6)">6</button>
                </div>
            </div>
            <div class="row">
                <div class="col col-20 col-offset-20">
                    <button class="button button-stretch" ng-click="addDigit(7)">7</button>
                </div>
                <div class="col col-20">
                    <button class="button button-stretch" ng-click="addDigit(8)">8</button>
                </div>
                <div class="col col-20">
                    <button class="button button-stretch" ng-click="addDigit(9)">9</button>
                </div>
            </div>
            <div class="row">
                <div class="col col-20 col-offset-20"></div>
                <div class="col col-20">
                    <button class="button button-stretch" ng-click="addDigit(0)">0</button>
                </div>
                <div class="col col-20">
                    <button class="button icon ion-ios-arrow-back button-stretch" ng-click="removeDigit()"></button>
                </div>
            </div>
        </div>
        <div class="forgot-pass-container" ng-show="dialogMode === 'login'">
            <button class="button button-clear button-positive button-italic" ng-click="forgotPasscode()">Forgot your passcode?</button>
        </div>
    </ion-content>
</ion-modal-view>