<ion-modal-view>
    <ion-header-bar class="bar-stable bar-positive with-button">
        <h1 class="title">Redeem Voucher</h1>
        <button class="button button-icon button-clear ion-ios-close-outline" ng-click="closeVoucherModal()"></button>
    </ion-header-bar>
    <ion-content class="content redeem-voucher-screen">
        <div class="row responsive-sm">
            <div class="change-pass-errors">
                <p ng-repeat="err in errors track by $index">{{err}}</p>
            </div>

            <form name="redeemVoucherForm" novalidate="novalidate" class="col col-50 col-offset-25">
                <div class="list list-inset">
                    <label class="item item-icon-left" ng-disabled="voucherWorking">
                        <i class="icon ion-ios-locked-outline"></i>
                        <span class="item-input">
                            <input name="voucherCode" ng-model="model.voucherCode" placeholder="Your voucher code" type="text" required autocomplete="off" ng-disabled="voucherWorking">
                        </span>
                    </label>
  
                    <div class="">
                        <button class="no-margin-top item button button-full button-energized" type="submit" ng-click="redeemVoucher()" ng-disabled="voucherWorking">
                            <span ng-if="!voucherWorking">
                                <i class="icon ion-edit"></i> Redeem Code
                            </span>
                            <span ng-if="voucherWorking">
                                <i class="fa fa-spinner fa-pulse fa-fw"></i> Checking voucher
                            </span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </ion-content>
</ion-modal-view>