<ion-view view-title="Account Created" class="register-completed" cache-view="false">
    <ion-header-bar class="bar-positive bar-stable with-button">
        <h1 class="title" translate>Account Created</h1>
    </ion-header-bar>
    <ion-content class="content has-header has-footer register-completed" ng-cloak>
        <div>
            <div class="row responsive-lg">
                <div class="col">
                    <h2 class="light">Welcome to OnRecord!</h2>
                    <p class="light">To complete your registration you need to confirm your email address.</p>
                    <p class="light">We just sent you a confirmation email. Don't forget to check your spam folder, just in case.</p>
                </div>
            </div>
        </div>
    </ion-content>
    <div class="bar bar-footer bar-default">
        <div class="title">
            <small>
                <a ui-sref="login" nav-transition="none">Confirmed your account? Sign In</a>
            </small>
        </div>
    </div>
</ion-view>