<ion-view view-title="Create account" class="register" cache-view="false">
    <ion-header-bar class="bar-positive bar-stable with-button">
        <button class="button button-icon button-clear ion-android-arrow-{{::getBack()}}" ui-sref="login" nav-transition="none" style="margin-top: 0"></button>
        <h1 class="title" translate>Create account</h1>
    </ion-header-bar>
    <ion-content class="content has-header has-footer register" ng-cloak>
        <div class="row responsive-lg">
            <div class="col col-50 col-offset-25">
                <form name="registerForm" novalidate="novalidate" class="col col-50 col-offset-25">
                    <div class="list list-inset">
                        <label class="item item-icon-left">
                            <i class="icon ion-person"></i>
                            <div class="item-input">
                                <input name="firstName" type="text" ng-model="registerData.firstName" placeholder="Name (required)" required autofocus>
                            </div>
                        </label>
                        <label class="item item-icon-left">
                            <i class="icon ion-person-stalker"></i>
                            <div class="item-input">
                                <input name="surname" type="text" ng-model="registerData.surname" placeholder="Surname (required)" required autofocus>
                            </div>
                        </label>
                        <label class="item item-icon-left">
                            <i class="icon ion-ios-email-outline"></i>
                            <div class="item-input">
                                <input name="email" type="email" ng-model="registerData.email" placeholder="Email (required)" required autofocus>
                            </div>
                        </label>
                        <label class="item item-icon-left">
                            <i class="icon ion-ios-locked-outline"></i>
                            <div class="item-input">
                                <input name="password" ng-model="registerData.password" placeholder="Password (required)" type="password" required>
                            </div>
                        </label>
                        <label class="item item-icon-left">
                            <i class="icon ion-transgender"></i>
                            <div class="item-input item-select">
                                <div class="input-label">
                                    Gender
                                </div>
                                <select ng-model="registerData.gender">
                                    <option>Male</option>
                                    <option>Female</option>
                                    <option>Other</option>
                                </select>
                            </div>
                        </label>
                        <label class="item item-icon-left">
                            <i class="icon ion-ios-calendar-outline"></i>
                            <div class="item-input">
                                <input name="birthdate" ng-model="registerData.birthdate" placeholder="Birthdate" type="date" required>
                            </div>
                        </label>
                        <label class="item item-icon-left">
                            <i class="icon ion-ios-home-outline"></i>
                            <div class="item-input">
                                <textarea name="address" ng-model="registerData.address" placeholder="Address (optional)" rows="2" required></textarea>
                            </div>
                        </label>
                        <label class="item item-icon-left">
                            <i class="icon ion-ios-telephone-outline"></i>
                            <div class="item-input">
                                <input name="phone" ng-model="registerData.phone" placeholder="Phone number (optional)" type="text">
                            </div>
                        </label>
    
                        <label class="item item-checkbox terms-checkbox">
                            <div class="checkbox">
                                <input type="checkbox" ng-model="model.termsAgreed" class="terms-checkbox-input">
                            </div>
                            I agree to usage conditions
                        </label>
                        <button class="button button-full button-energized button-small button-outline" ng-click="openTermsModal()">Read Conditions of Use</button>
    
                        <div class="">
                            <button class="no-margin-top item button button-full button-energized" type="submit" ng-click="register()">
                                Submit
                            </button>
                        </div>
    
                    </div>
                </form>
            </div>
        </div>
    </ion-content>
    <div class="bar bar-footer bar-default">
        <div class="title">
            <small>
                <a ui-sref="login" nav-transition="none">Already have an account? Sign In</a>
            </small>
        </div>
    </div>
</ion-view>