<ion-view view-title="Reset Password" class="login">
    <ion-content class="content has-footer padding" ng-cloak>
        <div class="padding-horizontal">
            <div class="padding-horizontal">
                <div class="text-center">
                    <div class="inline text-center login-header">
                        <img class="pull-left" src="images/art-on.png" alt="onrecord" width="100" />
                        <span class="pull-left brand">RECORD</span>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row responsive-sm ">
            <div class="col col-50 col-offset-25">
                <form name="forgotPassForm" novalidate="novalidate">
                    <div class="list list-inset">
                        <label class="item item-icon-left">
                            <i class="icon ion-ios-person-outline"></i>
                            <span class="item-input">
                                <input name="email" type="email" ng-model="model.email" placeholder="Email" required autofocus autocomplete="off">
                            </span>
                        </label>

                        <label class="item item-icon-left">
                            <i class="icon ion-ios-barcode-outline"></i>
                            <span class="item-input">
                                <input name="code" ng-model="model.code" placeholder="Password reset token" type="text" required autocomplete="off">
                            </span>
                        </label>

                        <label class="item item-icon-left">
                            <i class="icon ion-ios-locked-outline"></i>
                            <span class="item-input">
                                <input name="password" ng-model="model.password" placeholder="Password" type="password" required autocomplete="off">
                            </span>
                        </label>

                        <label class="item item-icon-left">
                            <i class="icon ion-ios-checkmark-outline"></i>
                            <span class="item-input">
                                <input name="confirmPassword" ng-model="model.confirmPassword" placeholder="Confirm password" type="password" required autocomplete="off">
                            </span>
                        </label>

                        <div class="">
                            <button class="no-margin-top item button button-full button-energized " type="submit" ng-click="setPassword()">
                                Set New Password
                            </button>
                        </div>
                    </div>
                </form>
                <br />

                <div class="bar bar-positive">
                    <div class="title">
                        <a class="button button-clear" ui-sref="login">Back to login screen</a>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>