<ion-view title="Settings" id="settingsPage">
    <ion-content class="content padding settings" ng-cloak>
        <div class="row responsive-lg">
            <div class="col">
                <h2 class="light">App Security</h2>

                <ul class="list">
                    <li class="item item-toggle">
                        <i class="icon ion-ios-keypad-outline"></i>
                        <span class="item-toggle-label">Passcode Login</span>
                        <label class="toggle toggle-positive">
                            <input type="checkbox" ng-model="model.passcodeEnabled">
                            <span class="track">
                                <span class="handle"></span>
                            </span>
                        </label>
                    </li>
                    <li class="item item-toggle">
                        <i class="icon ion-ios-barcode-outline"></i>
                        <span class="item-toggle-label">Fingerprint Login</span>
                        <label class="toggle toggle-positive">
                            <input type="checkbox" ng-model="model.fingerprintEnabled" ng-disabled="!fingerprintHardwareDetected">
                            <span class="track">
                                <span class="handle"></span>
                            </span>
                        </label>
                    </li>
                    <li class="item item-toggle">
                        <i class="icon ion-eye-disabled"></i>
                        <span class="item-toggle-label">Don't store on this device</span>
                        <label class="toggle toggle-positive">
                            <input type="checkbox" ng-model="model.noStoreEnabled" />
                            <span class="track">
                                <span class="handle"></span>
                            </span>
                        </label>
                    </li>
                    <li class="item item-toggle">
                        <i class="icon ion-checkmark-circled"></i>
                        <span class="item-toggle-label">Ask before signing out</span>
                        <label class="toggle toggle-positive">
                            <input type="checkbox" ng-model="model.confirmSignOut" />
                            <span class="track">
                                <span class="handle"></span>
                            </span>
                        </label>
                    </li>
                    <!--<li class="item item-button-right">
                        Delete all records on this device
                        <button class="button button-assertive" ng-click="deleteAllData()">
                            <i class="icon ion-ios-trash-outline"></i>
                        </button>
                    </li>-->
                </ul>

                <button class="button button-assertive button-full icon ion-ios-trash-outline" ng-click="deleteAllData()">
                    Delete all records on this device
                </button>

                <p class="light">Don't worry, all records you upload will be saved on our secure server.</p>

                <h2 class="light">Account Security</h2>
                <div class="list">
                    <div class="item item-button-right" ng-if="!userInfo.phoneNumber.length">
                        <span>Add your phone number</span>
                        <button class="button button-positive" ng-click="openAddPhoneNumberModal()">
                            <i class="icon ion-ios-telephone-outline"></i>
                        </button>
                    </div>
                    <div class="item item-button-right" ng-if="userInfo.phoneNumber.length && !userInfo.phoneNumberConfirmed">
                        Verify number
                        <strong>{{userInfo.phoneNumber}}</strong>
                        <button class="button button-positive" ng-click="confirmPhoneNumber()">
                            <i class="icon ion-ios-checkmark-outline"></i>
                        </button>
                    </div>
                    <div class="item item-button-right" ng-if="userInfo.phoneNumber.length && userInfo.phoneNumberConfirmed">
                        Change your phone number
                        <button class="button button-positive" ng-click="openChangePhoneNumberModal()">
                            <i class="icon ion-ios-compose-outline"></i>
                        </button>
                    </div>
                    <div class="item item-button-right" ng-if="userInfo.phoneNumber.length && userInfo.phoneNumberConfirmed">
                        Remove your phone number
                        <button class="button button-energized" ng-click="removePhoneNumber()">
                            <i class="icon ion-ios-close-outline"></i>
                        </button>
                    </div>
                </div>
                <p class="light" ng-if="userInfo.phoneNumber.length && !userInfo.phoneNumberConfirmed">
                    You haven't verified your phone yet. Click the checkmark button to confirm your number.
                </p>

                <h4 class="light">Password Management</h4>
                <p class="light">It's a good idea to change your passwords frequently. This applies to all your passwords. Choose a strong
                    phrase, something you can remember, and keep it somewhere safe.</p>
                <button class="button button-energized button-block" ng-click="openModal()">
                    <i class="fa fa-key"></i> Change Password
                </button>

                <!-- app icon changer -->
                <div ng-if="canChangeAppIcon">
                    <h2 class="light">Choose App Icon</h2>
                    <br />

                    <div class="button-bar app-icons">
                        <a class="button button-clear" ng-click="changeAppIcon('icon1')" ng-class="{ 'active-icon': selectedAppIcon == 'icon1' }">
                            <img class="app-icon" src="images/icon 1.png" alt="icon1" />
                        </a>
                        <a class="button button-clear" ng-click="changeAppIcon('icon2')" ng-class="{ 'active-icon': selectedAppIcon == 'icon2' }">
                            <img class="app-icon" src="images/icon 2.png" alt="icon2" />
                        </a>
                        <a class="button button-clear" ng-click="changeAppIcon('icon3')" ng-class="{ 'active-icon': selectedAppIcon == 'icon3' }">
                            <img class="app-icon" src="images/icon 3.png" alt="icon3" />
                        </a>
                        <a class="button button-clear" ng-click="changeAppIcon('icon4')" ng-class="{ 'active-icon': selectedAppIcon == 'icon4' }">
                            <img class="app-icon" src="images/icon 4.png" alt="icon4" />
                        </a>
                    </div>

                    <div class="button-bar app-icons">
                        <a class="button button-clear" ng-click="changeAppIcon('icon5')" ng-class="{ 'active-icon': selectedAppIcon == 'icon5' }">
                            <img class="app-icon" src="images/icon 5.png" alt="icon5" />
                        </a>
                        <a class="button button-clear" ng-click="changeAppIcon('icon6')" ng-class="{ 'active-icon': selectedAppIcon == 'icon6' }">
                            <img class="app-icon" src="images/icon 6.png" alt="icon6" />
                        </a>
                        <a class="button button-clear" ng-click="changeAppIcon('icon7')" ng-class="{ 'active-icon': selectedAppIcon == 'icon7' }">
                            <img class="app-icon" src="images/icon 7.png" alt="icon7" />
                        </a>
                        <a class="button button-clear" ng-click="changeAppIcon('icon8')" ng-class="{ 'active-icon': selectedAppIcon == 'icon8' }">
                            <img class="app-icon" src="images/icon 8.png" alt="icon8" />
                        </a>
                    </div>

                    <div class="button-bar app-icons">
                        <a class="button button-clear" ng-click="changeAppIcon('icon9')" ng-class="{ 'active-icon': selectedAppIcon == 'icon9' }">
                            <img class="app-icon" src="images/icon 9.png" alt="icon9" />
                        </a>
                        <a class="button button-clear" ng-click="changeAppIcon('icon10')" ng-class="{ 'active-icon': selectedAppIcon == 'icon10' }">
                            <img class="app-icon" src="images/icon 10.png" alt="icon10" />
                        </a>
                        <a class="button button-clear" ng-click="changeAppIcon('icon12')" ng-class="{ 'active-icon': selectedAppIcon == 'icon12' }">
                            <img class="app-icon" src="images/icon 12.png" alt="icon12" />
                        </a>
                        <a class="button button-clear" ng-click="changeAppIcon('icon13')" ng-class="{ 'active-icon': selectedAppIcon == 'icon13' }">
                            <img class="app-icon" src="images/icon 13.png" alt="icon13" />
                        </a>
                    </div>

                    <div class="button-bar app-icons">
                        <a class="button button-clear" ng-click="changeAppIcon('icon14')" ng-class="{ 'active-icon': selectedAppIcon == 'icon14' }">
                            <img class="app-icon" src="images/icon 14.png" alt="icon14" />
                        </a>
                        <a class="button button-clear" ng-click="changeAppIcon('icon15')" ng-class="{ 'active-icon': selectedAppIcon == 'icon15' }">
                            <img class="app-icon" src="images/icon 15.png" alt="icon15" />
                        </a>
                        <a class="button button-clear" ng-click="changeAppIcon('icon16')" ng-class="{ 'active-icon': selectedAppIcon == 'icon16' }">
                            <img class="app-icon" src="images/icon 16.png" alt="icon16" />
                        </a>
                        <a class="button button-clear" ng-click="changeAppIcon('icon17')" ng-class="{ 'active-icon': selectedAppIcon == 'icon17' }">
                            <img class="app-icon" src="images/icon 17.png" alt="icon17" />
                        </a>
                    </div>

                    <div class="button-bar app-icons">
                        <a class="button button-clear" ng-click="changeAppIcon('icon18')" ng-class="{ 'active-icon': selectedAppIcon == 'icon18' }">
                            <img class="app-icon" src="images/icon 18.png" alt="icon18" />
                        </a>
                        <a class="button button-clear" ng-click="changeAppIcon('icon19')" ng-class="{ 'active-icon': selectedAppIcon == 'icon19' }">
                            <img class="app-icon" src="images/icon 19.png" alt="icon19" />
                        </a>
                        <a class="button button-clear" ng-click="changeAppIcon('art-onrecord')" ng-class="{ 'active-icon': selectedAppIcon == 'art-onrecord' }">
                            <img class="app-icon" src="images/art-onrecord.png" alt="onrecord" />
                        </a>
                        <a class="button button-clear" ng-click="changeAppIcon('icon-alt')" ng-class="{ 'active-icon': selectedAppIcon == 'icon-alt' }">
                            <img class="app-icon" src="images/icon-alt.png" alt="onrecord" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>