<ion-view title="Settings" id="settingsPage">
    <ion-content class="content padding settings" ng-cloak>
        <ul class="list">
            <li class="item item-toggle">
                Passcode Login
                <label class="toggle toggle-positive">
                    <input type="checkbox" ng-model="model.passcodeEnabled">
                    <span class="track">
                        <span class="handle"></span>
                    </span>
                </label>
            </li>
            <li class="item item-toggle">
                Fingerprint Login
                <label class="toggle toggle-positive">
                    <input type="checkbox" ng-model="model.fingerprintEnabled" ng-disabled="!fingerprintHardwareDetected">
                    <span class="track">
                        <span class="handle"></span>
                    </span>
                </label>
            </li>
            <li class="item item-button-right">
                Delete all local data
                <button class="button button-assertive" ng-click="deleteAllData()">
                    <i class="icon ion-trash-a"></i>
                </button>
            </li>
        </ul>

        <button class="button button-positive" ng-click="changeAppIcon()"  ng-show="isIOS">
            <i class="icon ion-wand"></i> Change App Icon
        </button>
    </ion-content>
</ion-view>
