<ion-view title="Review" id="surveyViewPage" class="survey_screen">
    <ion-header-bar align-title="{{::getLeft()}}" class="bar bar-subheader bar-balanced">
        <h2 class="title">
            <span class="color-block" ng-style="{'background-color': formTemplate.colour}"></span> {{::formTemplate.title}}: 
            <span ng-if="surveyIndex">{{surveyIndex}} of {{totalRecords}}</span>
            <span ng-if="!surveyIndex">#{{survey.serial}}</span>
            <!-- :<span>{{currentPageIndex+1}} <span translate>of</span> {{numberOfPages}}</span> -->
        </h2>
    </ion-header-bar>
    <ion-content class="has-subheader">
        <ion-refresher pulling-text="Pull to refresh this record" on-refresh="doRefresh()"></ion-refresher>
        <form name="surveyForm" novalidate="novalidate" ng-submit="submitSurvey()">
            <div class="list card">
                <div ng-repeat="metricGroup in activeGroups" ng-controller="metricGroupController">
                    <div ng-if="!metricGroup.isRepeater" ng-include="'partials/metricViews/metricGroup.html'" ng-show="isCurrentPage(metricGroup)"></div>
                    <div ng-if="metricGroup.isRepeater" ng-include="'partials/metricViews/metricGroupRepeater.html'" ng-show="isCurrentPage(metricGroup)"></div>
                </div>
            </div>
        </form>

        <div class="card location_card" ng-repeat="location in locations track by $index">
            <div class="item item-divider">Location</div>
            <div class="map-wrap">
                <ui-gmap-google-map center="location.center" zoom="location.zoom" options="location.options" draggable="false">
                    <ui-gmap-marker coords="location.marker.coords" options="location.marker.options" events="location.marker.events" idKey="location.marker.id"></ui-gmap-marker>
                </ui-gmap-google-map>
            </div>
        </div>
    </ion-content>
    <div class="bar bar-footer tabs bar-dark row" ng-if="numberOfPages > 1">
        <a class="tab-item " ng-show="!isFirstPage()" ng-click="goToPreviousPage()"><span translate>Back to page</span> {{currentPageIndex}}</a>
        <a class="tab-item"></a>
        <a class='tab-item item-icon-{{getRight()}}' ng-disabled="surveyForm.$invalid" ng-click="goToNextPage()" ng-show="!isLastPage()">
            <i class="icon ion-arrow-{{getRight()}}-a"></i>
        </a>
    </div>
</ion-view>