<ion-view title="Record" id="surveyPage" class="survey_form_screen">
    <ion-header-bar align-title="{{::getLeft()}}" class="bar bar-subheader bar-balanced">
        <h2 class="title">
            <span class="color-block" ng-style="{'background-color': formTemplate.colour}"></span> {{::formTemplate.title}}
            <!-- {{::formTemplate.title}}: <span>{{currentPageIndex + 1}} <span translate>of</span> {{numberOfPages}}</span> -->
        </h2>
        <div class="buttons">
            <button class="button button-icon button-clear draft_button" ng-click="saveDraft()">
                <i class="fa fa-floppy-o"></i> Draft
            </button>

            <button class="button button-icon button-clear" ng-click="submitSurvey()" ng-disabled="surveyForm.$invalid || uploadWorking">
                <span ng-if="!uploadWorking">
                    <i class="fa fa-cloud-upload"></i>
                    <span translate>Upload</span>
                </span>
                <span ng-if="uploadWorking">
                    <i class="fa fa-spinner fa-pulse fa-fw"></i> Uploading
                </span>
            </button>
        </div>
    </ion-header-bar>
    <ion-content class="has-subheader" ng-class="{'has-footer':numberOfPages > 1}">
        <form name="surveyForm" novalidate="novalidate" ng-submit="submitSurvey()">
            <div class="list card metrics-list">
                <div ng-repeat="metricGroup in activeGroups" ng-controller="metricGroupController">
                    <div ng-if="!metricGroup.isRepeater" ng-include="'partials/metrics/metricGroup.html'" ng-show="isCurrentPage(metricGroup)"></div>
                    <div ng-if="metricGroup.isRepeater" ng-include="'partials/metrics/metricGroupRepeater.html'" ng-show="isCurrentPage(metricGroup)"></div>
                </div>
                <!--<div class="item errors">
                    <ul>
                        <li class="padding" ng-repeat="(key, errors) in surveyForm.$error track by $index">
                            <ul>
                                <li ng-repeat="e in errors"><span translate>Error in entering</span> <strong>{{ getMetricShortTitle(e.$name) }}</strong></li>
                            </ul>
                        </li>
                    </ul>
                </div>-->
            </div>
            <div class="list location-card-wrap">
                <div class="card location-card">
                    <div class="item item-divider">Location</div>
                    <div class="item item-text-wrap">
                        <label class="item item-input" style="padding-left: 0">
                            <input type="text" placeholder="Address" ng-model="geocoding.address" style="padding-right: 0">
                        </label>

                        <div class="button-bar location-button-bar">
                            <button type="button" class="button button-small button-positive button-outline" ng-click="getAddress()"><i class="fa fa-map"></i> Input Address</button>
                            <button type="button" class="button button-small button-positive button-outline" ng-click="getMyLocation()"><i class="fa fa-location-arrow"></i> Get My Location</button>
                        </div>
                        <div class="button-bar" style="margin-top: 5px" ng-show="geocoding.hasLocation">
                            <button type="button" class="button button-small button-outline button-positive" ng-click="clearLocation()"><i class="fa fa-eraser"></i> Clear location</button>
                        </div>

                        <div ng-show="geocoding.hasLocation">
                            <hr>
                            <div id="map_canvas"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="upload_button_wrap">
                <!--<button ng-show="isLastPage()" class="button button-block button-energized" type="submit" ng-disabled="surveyForm.$invalid || uploadWorking">
                    <span ng-if="!uploadWorking">
                        <i class="fa fa-cloud-upload"></i>
                        <span translate>Upload</span>
                    </span>
                    <span ng-if="uploadWorking">
                        <i class="fa fa-spinner fa-pulse fa-fw"></i> Uploading record
                    </span>
                </button>-->

                <button ng-show="isLastPage()" class="button button-royal button-block" type="submit" ng-disabled="uploadWorking">
                    <span ng-if="!uploadWorking">
                        <i class="fa fa-cloud-upload"></i>
                        <span translate>Upload</span>
                    </span>
                    <span ng-if="uploadWorking">
                        <i class="fa fa-spinner fa-pulse fa-fw"></i> Uploading record
                    </span>
                </button>
            </div>
        </form>
    </ion-content>
    <div class="bar bar-footer tabs bar-positive row" ng-if="numberOfPages > 1">
        <a class="tab-item " ng-show="!isFirstPage()" ng-click="goToPreviousPage()"><span translate>Back to page</span> {{currentPageIndex}}</a>
        <a class="tab-item"></a>
        <a class='tab-item item-icon-{{getRight()}}' ng-disabled="surveyForm.$invalid" ng-click="goToNextPage()" ng-show="!isLastPage()">
            <i class="icon ion-arrow-{{getRight()}}-a"></i>
        </a>
    </div>
</ion-view>