<ion-modal-view>
    <ion-header-bar class="modal-header">
        <h1 class="title">Usage Terms &amp; Conditions</h1>
    </ion-header-bar>
    <ion-content>
        <div class="terms-modal-content">
            <div class="et_pb_tab_content">

                <p>
                    This is a legal
                    agreement between you (the <b>“User”</b>) and Tadpole Cottage Ltd, trading as
                    analogue.DIGITAL (<b>“analogue.DIGITAL&quot;) </b>a company incorporated in
                    England and Wales (registration number 7463715) with a registered office at
                    Tadpole Cottage, Tadpole Lane, Blunsdon SN25 2DZ.
                </p>
                <p>
                    By downloading,
                    accessing and/or using the OnRecord App (the “<b>App</b>”) owned by
                    analogueDIGITAL, the User confirms that he/she accepts and agrees to be bound
                    by these terms and acknowledges that they constitute a legally binding contract
                    between analogue.DIGITAL and the User.  If the User does not agree to all of
                    these terms, the User is not permitted to access or use the App, should not
                    click to accept these terms and should not proceed further.
                </p>
                <h2>Purpose of the App</h2>
                <p>
                    The primary purpose of
                    the App is to record notes, photos, videos, audio recordings and/or documents
                    on a timeline (the <b>“Records”</b>) which can, with the User's permission, be shared
                    with subscribing organisations or individuals (<b>“Authorised Users”</b>) who
                    access our platform <b>(&quot;the Platform&quot;)</b> in accordance with
                    General Conditions of Use included in our legally binding contract with an
                    Authorised User.  Authorized Users are typically , charity workers, social
                    workers, police officers, lawyers and other advisors who will access the
                    records which can be searched, sorted and managed to use as evidence, if
                    relevant, in any legal proceedings or any other action contemplated by an
                    Authorised User.  Authorised User also includes any other individual or
                    organisation analogue.DIGITAL permits as an Authorised User. In the event the
                    User does not give permission to an Authorised User and chooses not to
                    subscribe as an individual, the User can access his/her records on the mobile
                    device but in only a limited way.
                </p>
                <p>
                    IMPORTANT: The User
                    should always be aware of the risks involved in collecting Records which might be used as evidence in legal proceedings 
                    (e.g. where they relate to circumstances where the user is being subjected to
                    domestic abuse ) and should exercise extreme caution at all times and take all
                    available precautions, including abandoning collection or deleting the App, if
                    necessary.  Deletion of the App will not delete any Records that have
                    previously been uploaded.  THE USER SHOULD NEVER PUT HIM/HERSELF IN A SITUATION
                    WHERE USING OR POSSESSING THE APP MAY PLACE HIM/HER OR ANYONE ELSE ESPECIALLY
                    CHILDREN AT RISK OF HARM. Although, the App has features intended to help
                    protect the User and the Records collected, the App cannot guarantee the safety
                    of the User or any other individual appearing in the Records. Although the App
                    and its contents can be disguised (Android only), they may be detectable if the
                    User’s mobile device is seized and analysed. The User should familiarise
                    themselves with all the security features of the App before using it.
                </p>
                <h2>Use of the App</h2>
                <p>
                    The User may only use
                    the App for lawful purposes, and must not use the App to engage in or
                    facilitate any illegal activity.
                </p>
                <p>
                    The User must comply
                    with all laws and regulations, including those relating to capture, use and
                    sharing of Records, applicable in the location when he/she uses the App.
                </p>
                <p>
                    The User may use the
                    App only for non-commercial purposes and only in accordance with this agreement
                    (and in accordance with any applicable terms of any relevant third party
                    service provider e.g. a mobile service provider for the device to which the
                    User downloads, or on which it accesses or uses, the App.)
                </p>
                <p>
                    The User is assumed to
                    have obtained permission from the owner of any device that is controlled, but
                    not owned by the User to download the App to that device. The User accepts
                    responsibility, in accordance with this agreement for all access to and use of
                    the App by the User on any device, whether or not it is owned by the User.
                </p>
                <p>
                    The User acknowledges
                    that the mobile service provider for the device to which the User downloads, or
                    on which the User accesses or uses the App may charge for internet access
                    (including mobile data usage) on that device.
                </p>
                <p>
                    analogue.DIGITAL
                    retains the right to block submissions from Users who use the App to capture
                    Records outside the purpose of the App or who attempt to use the App to engage
                    in or facilitate any illegal activity. 
                </p>
                <p>
                    analogue.DIGITAL does
                    not guarantee the continuous, uninterrupted or error-free operability of the
                    App.
                </p>
                <p>
                    analogue.DIGITAL
                    reserves the right to change the design, features and/or functionality of the
                    App by making the updated App available for download. The User is not obliged
                    to download any updated App, but in some circumstances, the User may not be
                    able to continue using the App until he/she has downloaded the updated version.
                </p>
                <h2>Disclosure and Use of Records</h2>
                <p>
                    The User must ensure that the Records he/she submits do not contain any content that:-
                </p>
                <ul style="list-style: disc;margin-left: 20px;">
                    <li>Is knowingly false or misleading,</li>
                    <li>Is defamatory or in breach of any contractual duty or any obligation of confidence,</li>
                    <li>Infringes any intellectual property rights or data protection,</li>
                    <li>Infringes the privacy or other rights of any other person, or</li>
                    <li>Does not comply with all applicable laws and regulations.</li>
                </ul>
                <h2>Privacy</h2>
                <p>
                    Use of the User’s
                    personal data collected or submitted via the App is governed by
                    analogue.DIGITAL’s Privacy and Cookies Policies.
                </p>
                <h2>Ownership of the Records</h2>
                <p>
                    The User retains full
                    ownership of the Records he/she submits.
                </p>
                <h2>
                    Relationship of the Parties to this agreement
                </h2>
                <p>
                    This agreement does
                    not signify any agency, partnership, employment or consultancy relationship
                    between the User and analogue.DIGITAL.
                </p>
                <p>
                    analogue.DIGITAL is
                    not commissioning the User to produce any Records.
                </p>
                <h2>Intellectual Property Rights</h2>
                <p>
                    All intellectual
                    property rights, including but not limited to copyright, in and to the App and
                    its code, and any copies thereof, are owned by&nbsp;analogue.DIGITAL or its
                    licensors.
                </p>
                <p>
                    Except to the extent
                    expressly set out in this agreement, the User is not allowed to:
                </p>
                <ul style="list-style: disc;margin-left: 20px;">
                    <li>
                        Republish, redistribute or re-transmit the
                        App;
                    </li>
                    <li>
                        Copy or store the App other than for use
                        as permitted by this agreement and as may occur incidentally in the normal course
                        of use of the User’
                    </li>
                    <li>
                        Store the App on a server or other storage
                        device connected to a network;
                    </li>
                    <li>
                        Remove or change any content of the App
                        (other than Records) or attempt to circumvent security or interfere with the
                        proper working of the App or any servers on which it is hosted; or
                    </li>
                    <li>
                        otherwise do anything that it is not
                        expressly permitted by this agreement.
                    </li>
                </ul>
                <h2>Termination</h2>
                <ul style="list-style: disc;margin-left: 20px;">
                    <li>
                        This agreement will
                        terminate automatically upon the User breaching any of its terms but the
                        following sections shall survive termination:
                    </li>
                    <li>
                        Disclosure
                        and Use of Records;
                    </li>
                    <li>
                        Ownership
                        of the Records;
                    </li>
                    <li>
                        Intellectual
                        Property Rights;
                    </li>
                    <li>
                        Analogue.DIGITAL’s liability;
                    </li>
                    <li>
                        Dispute
                        Resolution&nbsp;;
                    </li>
                </ul>
                <p>
                    Records will be
                    retained by analogue.DIGITAL&nbsp;for as long as the User is receiving services
                    provided by Authorized Users.  When the Authorised User has completed the work
                    on behalf of the User, Records shall then be deleted securely.  Where the User
                    is not receiving services from an Authorised User, the User can choose to
                    subscribe but if the User does not do so, uploaded Data will be deleted
                    securely after a maximum period of 3 months.  In both cases, prior to deletion
                    the User will have the opportunity to download all saved Data.
                </p>
                <h2>analogue.DIGITAL’s Liability</h2>
                <p>
                    To the fullest extent
                    permitted by law, all implied warranties, conditions or other terms of any kind
                    are hereby excluded.
                </p>
                <p>
                    Nothing in this
                    agreement shall limit or exclude analogue.DIGITAL’s liability for:
                </p>
                <ul style="list-style: disc;margin-left: 20px;">
                    <li>
                        Death
                        or personal injury caused by analogue.DIGITAL’
                        s negligence;
                    </li>
                    <li>
                        Fraudulent
                        misrepresentation; or
                    </li>
                    <li>
                        Any
                        other liability that may not, under applicable law, be limited or excluded.
                    </li>
                </ul>
                <p>
                    Subject to this, if
                    the User is a consumer and not a business User, in no event shall
                    analogue.DIGITAL be liable for any business losses, and if the User is a business
                    User, in no event shall analogue.DIGITAL be liable for any indirect or
                    consequential losses, or for any loss of profit, revenue, contracts, data,
                    goodwill or other similar losses, and any liability analogue.DIGITAL does have
                    for losses the User suffers is strictly limited to losses that were reasonably
                    foreseeable.
                </p>
                <h2>Dispute Resolution</h2>
                <p>
                    This agreement shall
                    be governed and construed under English law and each of the parties agrees any
                    disputes that may arise out of or in connection with this agreement may be
                    dealt with by the English courts, provided that, if the User lives in a part of
                    the United Kingdom other than England, the applicable law of that part of the
                    United Kingdom will govern and any dispute may be dealt with by the courts
                    there.
                </p>
                <h2>General</h2>
                <p>
                    The User may not
                    transfer or assign any or all of his/her rights or obligations under this
                    agreement.
                </p>
                <p>
                    If analogue.DIGITAL
                    fails to enforce any of its rights, that does not result in a waiver of that
                    right.
                </p>
                <p>
                    If any provision of
                    this agreement is found to be unenforceable, all other provisions shall remain
                    unaffected.
                </p>
                <p>
                    The terms of this
                    agreement may not be varied except with analogue.DIGITAL’s express written
                    consent.
                </p>
                <p>
                    This agreement
                    represents the entire agreement between the parties in relation to its subject
                    matter. analogue.DIGITAL is required by law to advise that this agreement may
                    be concluded in the English language only and that no public filing
                    requirements apply.
                </p>
                <h2>Contacting analogue.DIGITAL</h2>
                <p>
                    Any questions about
                    this agreement or its subject matter should be submitted by email to
                    info@analogue.digital
                </p>
                <p>or in writing to: Tadpole Cottage, Tadpole Lane, Blunsdon SN25 2DZ </p>

                <br>
                <div class="text-center">
                    <button class="button button-small button-full button-royal" ng-click="closeTermsModal()">Close</button>
                </div>
            </div>
    </ion-content>
</ion-modal-view>