<ion-modal-view>
    <ion-header-bar class="modal-header">
        <h1 class="title">Agreement Terms</h1>
    </ion-header-bar>
    <ion-content>
        <div class="terms-modal-content">
            <p>
                Privacy policy and agreement terms are described here.
            </p>

            <br>
            <div class="text-center">
                <button class="button button-small button-full button-royal" ng-click="closeTermsModal()">OK</button>
            </div>
        </div>
    </ion-content>
</ion-modal-view>