<ion-modal-view class="terms_modal">
    <ion-header-bar class="modal-header bar-positive">
        <h1 class="title">Conditions of Use</h1>
    </ion-header-bar>
    <ion-content>
        <div class="terms-modal-content">
            <p class="lead">These Conditions of Use Apply to all Users of the Services provided by analogue.DIGITAL (a trading name of Tadpole Cottage Ltd, a company incorporated in England and Wales with company number 7463715), which consist, at present, of the OnRecord mobile App, the OnRecord Platform (or Platform) and the OnRecord website. It is the responsibility of any organisation using our Services to ensure that all those working under their direction, whether employed or not, are aware of and are compliant with these conditions.</p>

            <h2>Definitions</h2>
            <p class="lead">Some words and expressions used in these General Conditions of Use have particular meanings, as follows:</p>

            <ul class="lead">
                <li><strong>App</strong> means the OnRecord mobile App;</li>
                <li><strong>User</strong> or <strong>You</strong> and <strong>Your</strong>: Means any individual, organisation or member of an organisation, authorised by analogue.DIGITAL to access the OnRecord mobile App or the OnRecord Platform via the OnRecord Platform;</li>
                <li><b>Charges</b>: has the meaning given to it in the <i>‘Platform License Fee’</i> section below;</li>
                <li><b>OnRecord App User</b>, <b>Mobile User</b> or <b>App User</b>: mean an individual using the OnRecord mobile App;</li>
                <li><b>Changes</b>: means changes to the Services provided by analogue.DIGITAL via the mobile App, the Platform and Website;</li>
                <li><b>Communication</b> and <b>Communicate</b>: means electronic communication via the Platform between Users;</li>
                <li><b>Confidential Information</b>: means all information, such as User records, which should be considered confidential due to its nature which is disclosed by one party to the other in connection with these General Conditions of Use whether before or after the date of signature of these General Conditions of Use in respect of the disclosing party;</li>
                <li><b>Data Protection Regulations</b>: means the General Data Protection Regulations (GDPR) (Regulation (EU) 2016/679), the Regulation of Investigatory Powers Act 2000 and all other Applicable laws, regulations and codes of practice relating to the processing of personal data or sensitive personal data or relating to privacy under any jurisdiction Applicable to these terms and conditions as the same may be amended, modified or replaced from time to time;</li>
                <li><b>Database</b>: means the database provided by analogue.DIGITAL on which User records are stored;</li>
                <li><b>Good Industry Practice</b>: means those practices which, according to a suitably qualified person with reasonable experience of the relevant industry (which, for the avoidance of doubt, shall mean the software associated services industry), comprise generally accepted good practices in the relevant industry;</li>
                <li><b>Identification Details</b>: means the unique User name, password and other information required for a User to access the mobile App and to access records via the Platform;</li>
                <li><b>OnRecord Website</b> or <b>Website</b>: means the Website located at https://onrecord.tech/;</li>
                <li><b>Records</b>: means the Records uploaded to the OnRecord Database by Users;</li>
                <li><b>Platform</b>: mean the Application accessed by the login facility on the OnRecord Website enabling Users to access the records of OnRecord Users;</li>
                <li><b>Services</b>: means all the services provided by analogue.DIGITAL;</li>
                <li><b>User Guide</b>: means such User guide to the Platform and Services as may be provided by analogue.DIGITAL from time to time;</li>
                <li><b>Web Page(s)</b>: means the pages of the OnRecord Website or such other URLs as may be notified to Users by analogue.DIGITAL from time to time, for the location of the Platform which gives web access to the OnRecord User Records;</li>
                <li><b>We</b>, <b>Us</b> and <b>Our</b>: means analogue.DIGITAL;</li>
                <li><b>Your System</b>: means the mobile equipment and computer system (including hardware and software) used by a User.</li>
            </ul>

            <h3>1. Agreements</h3>
            <p class="lead">1.1 By using the mobile App and the Platform You agree, as a User, that You will have gained access by receiving analogue.DIGITAL registration services and that:</p>

            <ul class="lead">
                <li>You have read and have agreed to be bound by these General Conditions of Use;</li>
                <li>You represent and warrant that you have the authority and capacity to enter into this agreement;</li>
                <li>You represent and warrant on a continuing basis that You are authorised and regulated by the relevant regulator (if Applicable) and have all the necessary permissions to provide Your services to Users as Appropriate;</li>
            </ul>

            <p class="lead">1.2 The licenses herein are defined by the terms of these General Conditions of Use;</p>
            <p class="lead">1.3 You will be responsible for compliance with all anti-money laundering regulations in respect of Users with whom You Communicate;</p>
            <p class="lead">1.4 You will not permit any person who is not a User to access or use the Platform through Your System;</p>
            <p class="lead">1.5 You will not access the Platform from another country if it is not permissible to do so in that country, and acknowledge that it is Your responsibility to check the legal position in other countries;</p>
            <p class="lead">1.6 You agree that all information given as part of the registration process to gain such access and use such rights as are granted in these General Conditions of Use is true and complete in all material aspects;</p>
            <p class="lead">1.7 Electronic mail is not encrypted.  As a User, You acknowledge that the use of electronic communications generally (for example, for administrative purposes to contact analogue.DIGITAL) is not a completely reliable or secure method of communication;</p>
            <p class="lead">1.8 You are responsible for employing reasonable information technology related competency, skill and knowledge in using the mobile App and the Platform. Analogue.DIGITAL shall not be liable for such losses as may arise from a failure by a User in this respect;</p>
            <p class="lead">1.9 We do not provide legal advice in any of our Services and nothing in our Services shall be construed as legal advice. All content of our Services is provided for general information only without any guarantees, conditions or warranties as to its accuracy. It is not intended to amount to advice (of any nature) upon which you should rely. You should obtain professional or specialist advice before taking, or refraining from, any action on the basis of the content of our Services. We do not represent that any User is qualified to provide legal advice and you therefore rely on any contribution or materials provided by such User entirely at your own risk.</p>
            <p class="lead">We make no representation or warranty as to the accuracy, completeness or correctness of the information on the website, the mobile App and the Platform provided by us or by Users. Subject to the provisions of the section entitled ‘Limitation of Liability and Indemnity’ below, Analogue.DIGITAL will not accept liability for any claims by Users for damages or loss arising from inaccurate, incomplete or incorrect information of any kind. You are at all times responsible for informing analogue.DIGITAL of any errors or omissions in, or caused by, Your use of the Services immediately after You become aware of them;</p>
            <p class="lead">1.10 We shall use reasonable skill and care and Good Industry Practice in delivering the mobile App, the Platform and the Services.   By using the Services You are deemed to have satisfied Yourself as to their suitability and compliance with any relevant legislation or regulation;</p>
            <p class="lead">1.11 You have or will obtain any necessary consent from Users before accessing their records in accordance with the General Data Protection Regulations (GDPR) (Regulation (EU) 2016/679) to enable You to Communicate relating to their records via the Platform.  Analogue.DIGITAL will comply with its own obligations in respect of data protection pursuant to the section entitled ‘Data Retention and Use of any Data Collected about App Users and Organisation Users’ below.  However, You acknowledge that You are the data controller in relation to any data you submit or receive via the Platform and that You will comply with Your own obligations under the GDPR;</p>
            <p class="lead">1.12 If you are using the Platform as a legal representative, that you have all requisite authority to act on behalf of such Users in relation to their Records;</p>
            <p class="lead">You will use the Platform only:</p>

            <ul class="lead">
                <li>To access Users’ records and use our Services; and</li>
                <li>In accordance with all Applicable laws, these General Conditions of Use and the User Guide;</li>
            </ul>

            <p class="lead">1.13 You are responsible for checking the Website for announcements made by Us relating to changes to the Services and or to these General Conditions of Use (including the User Guide) and for ensuring Your own compliance and that of Your System, at Your cost, with such Changes.  We will provide You with reasonable guidance on the implementation of Changes;</p>
            <p class="lead">1.14 Queries relating to the standard functionality of, and access to, the mobile App and the Platform may be directed to info@analogue.digital.  Analogue.DIGITAL will not advise You on any such issues relating to compliance with legal processes;</p>
            <p class="lead">1.15 If You require additional IT support, then We reserve the right to charge You for such support.  For these purposes, additional IT support shall mean technical support additional to or outside the scope of that in the User Guide, for example responding to ad hoc queries relating to functionality that is not part of the then current functionality of the mobile App and the Platform.</p>
            <p class="lead">1.16 You will not use the mobile App and the Platform to engage in any conduct that could have or could reasonably be expected to have a detrimental effect on the reputation of the OnRecord App or Website or of analogue.DIGITAL;</p>
            <p class="lead">1.17 To the extent that We use sub-contractors to manage the Services, You agree to co-operate with Us and with such third parties in good faith as necessary in order for You to gain access to the mobile App and the Platform, receive the Services and comply with your obligations under these General Conditions of Use;</p>
            <p class="lead">1.18 You will not do anything which will or might damage, interfere with, disrupt access to, interrupt or impair the functionality of the mobile App and the Platform; and</p>
            <p class="lead">1.19 You acknowledge that any breach of these General Conditions of Use could impact negatively on the operation of the mobile App and the Platform.</p>
            <p class="lead">1.20 Further enhancements to the mobile App and the Platform may be introduced in the future which will also be governed by these General Conditions of Use.</p>
            <p class="lead">1.21 If requested by reasonable notice in writing from analogue.DIGITAL, Users shall at their own cost provide analogue.DIGITAL with such assistance as is reasonable to allow analogue.DIGITAL to conduct User acceptance testing of changes to the Services.</p>
            <p class="lead">1.22 Nothing contained on the website, mobile App or Platform constitutes or is intended as a recommendation or as advice or an advertisement, inducement or offer of any kind.</p>

            <h3>2. Continuity of operation of the Platform</h3>
            <p class="lead">2.1 Analogue.DIGITAL wishes to make access to the Services to be continuously available.  However, the Services may be temporarily unavailable for a number of reasons, including routine planned and emergency maintenance and change management, excess demand, failure of the Internet, misuse of the Services by Users and circumstances beyond the control of analogue.DIGITAL.  We do not warrant that the Services will be available at all times but we will use reasonable endeavours to keep downtime to a minimum.</p>
            <p class="lead">2.2 Analogue.DIGITAL may amend, extend, suspend or withdraw any online facility for whatever reason at any time (for example, in order to protect the website, the Platform, the mobile App or Users or for the reasons described in the section entitled ‘Suspension and Termination of Users’ below). However, we shall use reasonable endeavours without breaching any Applicable laws or regulations that govern the operation of the Services to notify the User of our intentions and the reasons for our intentions where practical to do so.</p>
            <p class="lead">2.3 We shall not have any liability to a User for any non availability or interruption in the operation of the Services or for any failure or delay of a communication which is beyond our direct and reasonable control.</p>

            <h2>3. General Grant of Right of Use</h2>
            <p class="lead">3.1 Subject to the Conditions laid out in this document, analogue.DIGITAL grants the User a revocable, non-exclusive and non-transferable right to use the mobile App and the web browser based access to the Platform in accordance with these General Conditions of Use until such time as this agreement is suspended or terminated by a party pursuant to the section below entitled ‘Suspension and Termination of Users’.</p>
            <p class="lead">3.2 Your Responsibilities as a User for Security:</p>

            <ul class="lead">
                <li>To enable the User to access and use the mobile App and the Platform, the User must correctly identify him/herself using the Identification Details.</li>
                <li>A User will be offered a limited number of attempts to enter their Identification Details correctly. If this information is entered incorrectly on the limited number of attempts permitted, the User’s rights to use the Services may be temporarily suspended and their account temporarily disabled by analogue.DIGITAL.</li>
                <li>Users must keep the Identification Details secure and not disclose them to anyone who is not authorised to use them on Your behalf. If You believe that someone else has obtained possession of any of the Identification Details You should immediately contact info@analogue.digital.</li>
            </ul>

            <p class="lead">3.3 As a User You are responsible for all use made of the mobile App and the Platform through use of Your Identification Details. In addition, any client management system used as part of Your System to facilitate access to the Platform must maintain the Identification Details in a secure manner.  As such You should take adequate precautions, ensuring that:</p>

            <ul class="lead">
                <li>Only You are able to access the mobile App and the Platform and You comply with all security procedures notified to You from time to time;</li>
                <li>All the Identification Details are kept in a secure place;</li>
                <li>You do not disclose any or all of the Identification Details to any other person except as may be necessary and on a need to know basis only to Your system administrator, where Appropriate, who may keep a secure record of the same;</li>
                <li>You do not save the Identification Details on to Your mobile device or PC or write them down;</li>
                <li>You do not leave Your mobile device or PC unsecured while You are connected to the Platform;</li>
                <li>You do not use the Platform from any computer connected to a local area network without first making sure that no-one else will be able to observe or copy any of the Identification Details or gain access to the Platform purporting to be You and that You do not access the Platform from an unsecured network; and</li>
                <li>You do not allow any third party, whether on your behalf or otherwise, to implement any hub that establishes links between Users or submits or retrieves Records via the Platform on behalf of more than one User simultaneously with the aim of replacing and/or mirroring all or part of the functionalities of the Platform and neither will You facilitate any third party in so doing.</li>
            </ul>

            <h2>4. Your Systems</h2>
            <p class="lead">4.1 Before choosing to use the mobile App or the Platform a User should ensure that they have the Appropriate equipment and computer capabilities sufficient for the purpose.  You are responsible for ensuring that Your Systems are compatible with the mobile App and the Platform.</p>
            <p class="lead">4.2 You are responsible for Applying good industry practice to ensure that Your Systems are free of any computer virus or other harmful code and adequately maintained in every way.</p>
            <p class="lead">4.3 We will not be liable for any loss or damage caused by a virus, distributed denial-of-service attack, or other technologically harmful material that may infect your mobile device, computer equipment, computer programs, data or other proprietary material due to your use of our site or to your downloading of any content on it, or on any website linked to it.</p>
            <p class="lead">4.4 You are responsible for any third party service (including but not limited to ‘internet service providers’) through which You access the mobile App and the Platform, including compliance with any terms and conditions Applicable to, and payment of any charges connected with, any such service.</p>
            <p class="lead">4.5 If as a User You access the mobile App and the Platform from a country outside the United Kingdom, or any country which limits electronic communications of the kind contained in the mobile App or the Platform, You are responsible for complying with the local laws of that country and agree that You will indemnify analogue.DIGITAL against any loss which it may suffer as a result of Your failure to comply with this obligation.</p>

            <h2>5. Relationship with Third Parties</h2>
            <p class="lead">5.1 Each User is responsible for the information and Services it makes available through the mobile App or the Platform. We make no representation or warranty, whether express or implied as to its accuracy or completeness, or fitness for any purpose.</p>
            <p class="lead">5.2 Analogue.DIGITAL does not accept any responsibility and will not be liable for the performance of any third party with whom You engage in Communication regardless of whether any contract is made with such party via our Services.</p>
            <p class="lead">5.3 Service quality: We may record calls and electronic messages from Users to Us</p>
            <p class="lead">in order to provide the support and administration Services for the mobile App and the Platform and to ensure quality control and training, and to help resolve any disputes:</p>
            <p class="lead">(a) Analogue.DIGITAL may record phone conversations with You and keep such recordings for a reasonable period of time;</p>
            <p class="lead">(b) Analogue.DIGITAL will keep a record of all communications and messages sent by You to info@analogue.digital;</p>
            <p class="lead">(c) Analogue.DIGITAL may retain such records for the purpose of using the same in evidence in the event of a dispute in relation to Your instructions; and</p>
            <p class="lead">(d) Analogue.DIGITAL may monitor calls or messages to it in order to assess and improve the quality of the Services.</p>

            <h2>6. Data Retention and Use of any Data Collected about Users</h2>
            <p class="lead">6.1 Analogue.DIGITAL will not use any data about Users collected through the mobile App and the Platform for marketing or sales purposes or any other commercial purpose without their prior consent.</p>
            <p class="lead">6.2 Use of the mobile App and the Platform may involve the collection of limited information about Users to the extent necessary in order:</p>

            <ul class="lead">
                <li>to deal with any enquiry relating to use of the Services;</li>
                <li>to administer and/or manage our relationship with You;</li>
                <li>to conduct quality assurance and compliance monitoring;</li>
                <li>to audit and analyse how parts of the Services are used;</li>
                <li>to conduct such investigations as may be required to protect the reputation of the mobile App, the Platform and analogue.DIGITAL; and</li>
                <li>to comply with an enquiry from any relevant regulatory body.</li>
            </ul>

            <p class="lead">6.3 The General Data Protection Regulations (GDPR) provide protection to individuals by governing, amongst other things, the way in which personal data is held and used. Individuals are also afforded rights of access to such information held about them.</p>
            <p class="lead">6.4 Analogue.DIGITAL will process personal information submitted though the mobile App and the Platform in accordance with the GDPR and as defined in Our Privacy Policy.</p>
            <p class="lead">6.5 By using the Services You agree that analogue.DIGITAL may:</p>

            <ul class="lead">
                <li>Keep personal details which You or others give it and any information that it accesses from Your System on a database and use such information to provide the Platform services and for administrative and security purposes; and</li>
                <li>Disclose information concerning You as a User to any person with legal, administrative or regulatory power over analogue.DIGITAL.</li>
            </ul>

            <p class="lead">6.6 We will not disclose any personal data to any entity that is located in a country that does not have similar protections to the Data Protection Regulations.</p>
            <p class="lead">6.7 Analogue.DIGITAL acknowledges that records uploaded by a User are the property of the User and the User reserves all intellectual property rights which may, at any time, subsist in such data.</p>
            <p class="lead">6.8 Records uploaded to the Database will be retained by analogue.DIGITAL for as long as the User who uploaded them continues to be granted the right to access the Services by analogue.DIGITAL. When such access right is withdrawn or terminated, records shall be deleted securely. Users will be notified of the planned date for deletion of their Records and will have the opportunity to download their Records.</p>

            <h2>7. Platform License Fee</h2>
            <p class="lead">7.1 It is not analogue.DIGITAL’s current intention to charge Users for their use of the Services.</p>

            <h2>8. Limitation of Liability and Indemnity</h2>
            <p class="lead">8.1 Except as expressly set out in these terms all conditions, warranties and representations whether express or implied by statute, common law or otherwise in relation to the use of the Services by a User in accordance with these General Conditions of Use, are excluded to the full extent permitted by law.</p>
            <p class="lead">8.2 Subject to the provisions in Condition 8.4 below neither analogue.DIGITAL nor its directors, officers, employees, licensors and agents shall be liable to a User in contract, tort (including negligence or breach of statutory duty) or otherwise for any of the following losses or damages whether direct or indirect arising out of or in connection with the use of the Services or otherwise in connection with these terms:</p>

            <ul class="lead">
                <li>loss of profit;</li>
                <li>loss of business;</li>
                <li>loss of data;</li>
                <li>loss of use of equipment or process;</li>
                <li>loss of  anticipated savings;</li>
                <li>lost management time;</li>
                <li>lost investment opportunity or goodwill;</li>
            </ul>

            <p class="lead">resulting from any use of the Services pursuant to these General Conditions of Use;</p>

            <ul class="lead">
                <li>loss arising due to a failure by You to upgrade and maintain Your Systems and keep them compliant with the requirements in these General Conditions of Use; or</li>
                <li>any indirect, special  or consequential  loss or damage  howsoever  caused even if We were advised of the possibility of such losses or damage in advance.</li>
            </ul>

            <p class="lead">8.3 Analogue.DIGITAL shall not be liable for any defects in any network, direct or indirect failure of any power supplies, equipment, data processing and communication systems or transmission links outside their control (including any middleware implemented by a User or a third party on behalf of a User).</p>
            <p class="lead">8.4 Analogue.DIGITAL does not exclude or restrict its liability for death or personal injury arising as a result of its negligence or fraud (including fraudulent misrepresentation) or to the extent such liability cannot be excluded or restricted by financial services legislation or any Applicable laws and regulations.</p>
            <p class="lead">8.5 Save as required by law or as otherwise provided in these General Conditions of Use, analogue.DIGITAL will not be responsible for any errors, failures, delays or distortions in transmission of information or during Communications, save to the extent that any such liability is caused by Our negligence or breach of these terms.</p>
            <p class="lead">8.6 As a User, You agree to indemnify analogue.DIGITAL and its directors, officers, employees, licensors, affiliates and agents against any losses, claims, liabilities in full and on demand against any and all reasonable costs, claims, demands, expenses, liabilities, fees (including those of Our legal and other professional advisers) or losses or damage suffered (including damage or loss suffered from viruses or harmful code) of whatever nature arising out of or in connection with:</p>

            <ul class="lead">
                <li>The misuse or loss by You of the Identification Details;</li>
                <li>abuse or misuse by You of the servoces in any form;</li>
                <li>any breach by You of these General Conditions of Use;</li>
                <li>Your failure to comply with the GDPR and/or any Applicable laws; and</li>
                <li>You processing data outside the UK, save to the extent that any such liability is caused by Our breach of these terms or Our negligence.</li>
            </ul>

            <h2>9. Confidentiality and Intellectual Property</h2>
            <p class="lead">9.1 All Confidential Information disclosed by one party to the other party under these General Conditions of Use or passed or transmitted via the mobile App or the Platform shall be kept secret by the receiving party and shall be used by the receiving party only for purposes agreed by the disclosing party.  The receiving party agrees that it will not reveal, publish or otherwise disclose the Confidential Information of the disclosing party to any third party without the prior written consent of the disclosing party, except that each party may disclose Confidential Information to its Affiliates, agents and professional advisers or as necessary in the performance of the Agreement or operation of the Services and to comply with any requirement of the courts, police or regulatory entity requiring such disclosure.</p>
            <p class="lead">9.2 The foregoing obligations shall not Apply to Confidential Information to the extent that it can be shown:</p>

            <ul class="lead">
                <li>To be publicly available at the time of its disclosure or to have become publicly available thereafter other than as a result of a breach of this Agreement by the receiving party; or</li>
                <li>To have been in the possession of or to be known by the receiving party prior to its receipt from the disclosing party; or</li>
                <li>To have become available to the receiving party from a source other than the disclosing party, which source is not bound by any duty of confidentiality owed in relation to such Confidential Information.</li>
            </ul>

            <p class="lead">9.3 The User shall not use the name, trademark or logo of analogue.DIGITAL in any publicly issued documents or information, without the prior written consent of analogue.DIGITAL.</p>
            <p class="lead">9.4 All intellectual property rights (IPRs) in the App, the Website and the Platform are owned by analogue.DIGITAL and nothing herein shall constitute an assignment, transfer or vesting of such IPRs in any User. You shall not do anything that may be considered an infringement of the IPRs owned by and/or licensed to us as set out herein.</p>

            <h2>10. Suspension and Termination of Users</h2>
            <h3>10.1 Termination by analogue.DIGITAL:</h3>
            <p class="lead">10.1.1 In the event that analogue.DIGITAL knows or has reasonable grounds to suspect that a User has committed or is intending to commit a material breach of these General Conditions of Use (a “breach”) analogue.DIGITAL may, in their discretion, suspend or terminate the User’s use of the Services:</p>

            <ul class="lead">
                <li>Immediately without notification to the User where such suspension or termination is reasonably required in order to protect the Platform and the Services or where the breach is not capable of remedy or the breach is so serious or significant as to justify, acting reasonably, immediate suspension or termination provided that analogue.DIGITAL shall notify the User of such suspension or termination as soon as reasonably practicable thereafter; or</li>
                <li>analogue.DIGITAL notifies a User in writing that it knows or has reasonable grounds to suspect that a User has committed a breach or is intending to commit a breach and requiring the breach be remedied within a defined period and if such User does not remedy the breach within that period.</li>
            </ul>

            <p class="lead">10.1.2 Following any suspension the parties shall in good faith attempt to resolve the breach save that if following such consultation analogue.DIGITAL is not satisfied, acting reasonably, that the User will use the Services in accordance with the General Conditions of Use then analogue.DIGITAL shall be entitled to terminate the User’s access to the Services.</p>
            <p class="lead">10.1.3 At any point prior to notice of termination having been given in writing by analogue.DIGITAL to the User or within 7 working days of such notice being given the User may submit an Appeal in writing addressed to analogue.DIGITAL in respect of any likely or actual termination of this Agreement.  The Appeal must contain adequate information for the matter to be properly assessed and must be submitted.  Analogue.DIGITAL will give reasonable consideration to the facts of the Appeal and will notify the User of its final decision in writing within 7 working days of receipt of the Appeal.  This Appeals process is without prejudice to the Governing Law and Jurisdiction.</p>
            <p class="lead">10.1.4 Analogue.DIGITAL may terminate this Agreement, by giving three (3) calendar months’ prior written notice.</p>
            <p class="lead">10.1.5 Analogue.DIGITAL may terminate this Agreement forthwith in the event of any change in Applicable law or court order or threatened court order or proceedings or threat of proceedings that materially impairs analogue.DIGITAL’s ability to provide the licenses, Services or access described in this Agreement.</p>

            <h3>10.2 Termination by Users</h3>
            <p class="lead">10.2.1 The User may terminate its use of the Platform with immediate effect by giving analogue.DIGITAL written notice to the email address on the Website.</p>
            <p class="lead">10.2.2 In the event of such notice being served this will not affect any data that has been uploaded by Users.</p>
            <p class="lead">10.2.3 On termination the User shall cease all further access to the Platform.</p>

            <h3>10.3 Consequences of Termination</h3>
            <p class="lead">Following termination or expiry of this agreement the parties shall co-operate in good faith to agree and comply with an exit plan detailing the practical arrangements which are necessary and reasonable in the circumstances to close the User’s account (including, for example, in respect of such limited access as may be required to download Communications and records in the Platform).</p>

            <h2>11. Force Majeure</h2>
            <p class="lead">Analogue.DIGITAL represents and warrants that it has procured disaster recovery and business continuity plans in respect of the Platform and that analogue.DIGITAL will use reasonable endeavours to ensure that these plans are implemented and enforced if Applicable.  However, no party to these General Conditions of Use will be liable to any other for a delay in performing obligations or for failure to perform any of its obligations under these General Conditions of Use to the extent to which this is caused by any event beyond its reasonable control including, without limitation, strikes, labour disputes, natural disasters, war, riot, vandalism, terrorism, civil commotion, malicious damage, compliance with any law or governmental order, rule, regulation or direction or any overriding emergency procedures, fire, flood and storm.</p>

            <h2>12. Assignment and Subcontracting</h2>
            <p class="lead">12.1 The User shall not assign, sub-contract or transfer any of its rights or obligations under this agreement without the prior written consent of analogueDIGITAL, such consent not to be unreasonably withheld.</p>
            <p class="lead">12.2 Analogue.DIGITAL may assign or transfer all or part of its rights and obligations under this agreement to another company.</p>
            <p class="lead">12.3 Analogue.DIGITAL may sub-contract certain aspects of the provision of the Services but shall retain primary liability, and remain the sole entity primarily liable to Users, for the Services.  All claims by an Organisation User under these General Conditions of Use should be made directly to analogue.DIGITAL using the email address displayed on the Website.</p>

            <h2>13. Variation</h2>
            <p class="lead">13.1 Analogue.DIGITAL may change these General Conditions of Use from time to time.  Such changes will be notified to You at Your next log-in in which case You will be required to click to accept the amended General Conditions of Use at the point of log-in in order to continue Your use of the Services.</p>
            <p class="lead">13.2 Analogue.DIGITAL shall give Users such notice (via announcements on the Website) of any material changes to the General Conditions of Use of the mobile App, the Platform or Services as analogue.DIGITAL deems adequate to allow Users to implement such changes as may be necessary to ensure their compliance.</p>

            <h2>14. General Provisions</h2>
            <p class="lead">14.1 No conduct or delay by analogue.DIGITAL in exercising a right or remedy shall be taken as a waiver or variation of any of its rights or remedies unless We waive or vary such right in writing. No waiver or variation on a particular occasion will operate as a waiver or variation of any rights or remedies in respect of any other matter.</p>
            <p class="lead">14.2 If any of the provisions of these General Conditions of Use is held invalid, illegal or unenforceable for any reason, such provision shall be severed and the remainder of the provisions in these General Conditions of use shall continue in full force and effect as if they had been executed with the invalid provision eliminated.</p>
            <p class="lead">14.3 Nothing in these Terms and Conditions shall confer or is intended to confer on any third party any benefit or the right to enforce any terms contained herein for the purposes of the Contracts (Rights of Third Parties) Act 1999.</p>
            <p class="lead">14.4 Nothing in these General Conditions of Use should be construed as indicating or giving rise to a joint venture or partnership.</p>
            <p class="lead">14.5 Nothing in this agreement will require either party to be in breach of law.</p>
            <p class="lead">14.6 These General Conditions of Use and any documents referred to in them constitute the entire agreement between the parties and supersede all previous drafts, agreements, arrangements and understandings between the parties, whether written or oral, relating to its subject matter. Each party acknowledges that, in agreeing to these General Conditions of Use, it does not rely on any statement, representation, assurance or warranty (whether made innocently or negligently), other than as expressly set out herein.</p>

            <h2>15. Governing Law And Jurisdiction </h2>
            <p class="lead">15.1 These General Conditions of Use shall be subject to and construed in accordance with the law of England and Wales, and the English courts shall have exclusive jurisdiction to settle any dispute arising under these terms.</p>

            <h2>Contacting analogue.DIGITAL</h2>
            <p class="lead">Any questions about this agreement or its subject matter should be submitted by email to info@analogue.digital</p>
            <p class="lead">or in writing to: Tadpole Cottage, Tadpole Lane, Blunsdon SN25 2DZ</p>

            <button class="button button-royal button-block" ng-click="closeTermsModal()">Close</button>
        </div>
    </ion-content>
</ion-modal-view>