<ion-view title="Timeline" id="timelinePage">
    <ion-header-bar align-title="center" class="bar bar-subheader bar-positive timeline">
        <button class="button button-clear icon-left ion-ios-arrow-left" ng-click="previousMonth()">
            {{months[(today.getMonth()+11)%12]}}
        </button>
        <div class="h2 title">
            {{today | date:'MMMM yyyy'}}
        </div>
        <button class="button button-clear icon-right ion-ios-arrow-right" ng-click="nextMonth()">
            {{months[((today.getMonth()+1)%12)]}}
        </button>
    </ion-header-bar>
    <ion-content class="content has-subheader padding" ng-cloak>
        <lm-timeline form-templates="templates" surveys="surveys" height="420"></lm-timeline>
    </ion-content>
</ion-view>
