<ion-view title="Timeline" id="timelinePage" cache-view="false">
    <ion-nav-buttons side="right">
        <button class="button button-positive" ng-click="openChangeDateDialog()">
            <i class="icon ion-calendar"></i>
        </button>
    </ion-nav-buttons>
    <ion-header-bar align-title="center" class="bar bar-subheader bar-positive timeline" ng-style="TimelineHeaderBarStyle">
        <button class="button button-clear icon-left ion-ios-arrow-left" ng-click="previousMonth()">
            {{months[(today.getMonth()+11)%12]}}
        </button>
        <div class="h2 title">
            {{today | date:'MMMM yyyy'}}
        </div>
        <button class="button button-clear icon-right ion-ios-arrow-right" ng-click="nextMonth()">
            {{months[((today.getMonth()+1)%12)]}}
        </button>
    </ion-header-bar>
    <ion-content class="content has-subheader padding timeline-content" ng-cloak ng-style="TimelineContentStyle">
        <lm-timeline form-templates="templates" surveys="surveys" render-mode="mobile"></lm-timeline>
    </ion-content>
</ion-view>
