<ion-view title="Acceptable Use Policy" id="privacyPolicyPage">
    <ion-content class="content padding guidance-content" ng-cloak>
        <!-- <h2 class="text-center">Acceptable Use Policy</h2> -->
        <p class="lead">This Acceptable Use Policy sets out the terms between you and us under which you may access the OnRecord mobile app or the OnRecord online application or platform (our “services”).</p>
        <p class="lead">It applies to all users of, and visitors to, our site.</p>
        <p class="lead">Your use of our site means that you accept, and agree to abide by all the policies in this Acceptable Use Policy, which is supplemental to our <b>Terms of Use, Privacy</b> and <b>Cookie Policy</b>.</p>
        <p class="lead" style="margin-bottom: 10px">Any definitions used in this Acceptable Use Policy shall have the same meanings as provided in our <b>Terms of Use</b>.</p>

        <h3 style="background: #1f486b; padding: 10px; margin-top: 0">1. About us</h3>
        <p class="lead">The site is owned and operated by Tadpole Cottage Ltd, trading as analogue.DIGITAL (‘us’ or ‘we’). Tadpole Cottage Ltd is registered in England and Wales under registered number 7463715. Contact us at admin@analogue.digital</p>
        
        <h3 style="background: #1f486b; padding: 10px; margin-top: 0">2. Prohibited uses</h3>
        <p class="lead">You may only use our site for lawful purposes.</p>
        <p class="lead">
            <ul style="list-style: disc">
                <li>You may <b>not</b> use our site:</li>
                <ul style="list-style: disc">
                    <li>in any way that breaches any applicable local, national or international law or regulation;</li>
                    <li>in any way that is unlawful or fraudulent, or has any unlawful or fraudulent purpose or effect;</li>
                    <li>to transmit, or procure the sending of, any unsolicited or unauthorised advertising or promotional material or any other form of similar solicitation (spam);</li>
                    <li>to send, knowingly receive, upload, download, use or re-use any material which does not comply with our content standards;</li>
                    <li>to knowingly transmit any data, send or upload any material that contains viruses, Trojan horses, worms, time-bombs, keystroke loggers, spyware, adware or any other harmful programs or similar computer code designed to adversely affect the operation of any computer software or hardware.</li>
                </ul>
                <li>You also agree:</li>
                <ul style="list-style: disc">
                    <li>not to reproduce, duplicate, copy or re-sell any part of our site in contravention of the provisions of our <strong>Terms of Use</strong>;</li>
                    <li>not to access without authority, interfere with, damage or disrupt:</li>
                    <ul style="list-style: disc">
                        <li>any part of our site;</li>
                        <li>any equipment or network on which our site is stored;</li>
                        <li>any software used in the provision of our site; or</li>
                        <li>any equipment or network or software owned or used by any third party.</li>
                    </ul>
                </ul>
            </ul>
        </p>

        <h3 style="background: #1f486b; padding: 10px; margin-top: 0">3. Interactive Services</h3>
        <p class="lead">
            <ul style="list-style: disc">
                <li>We may from time to time provide interactive services on our site, including, without limitation:</li>
                <ul style="list-style: disc">
                    <li>sharing of user generated records;</li>
                    <li>chat rooms;</li>
                    <li>forums;</li>
                    <li>message boards;</li>
                    <li>private messaging;</li>
                    <li>blogs;</li>
                    <li>the ability to leave feedback for others;</li>
                    <li>the ability to comment on various news items.</li>
                </ul>
                <li>We will do our best to assess any possible risks for users (and in particular, for children) from third parties when they use any Interactive Service provided on our site, and we will decide in each case whether it is appropriate to use moderation of the relevant service (including what kind of moderation to use) in the light of those risks. However, we are under no obligation to oversee, monitor or moderate any Interactive Service we provide on our site, and we expressly exclude our liability for any loss or damage arising from the use of any Interactive Service by a user in contravention of our content standards, whether the service is moderated or not.</li>
                <li>The use of any of our Interactive Services by a minor is subject to the consent of their parent or guardian. We advise parents who permit their children to use an Interactive Service that it is important that they communicate with their children about their safety online, as moderation is not foolproof. Minors who are using any Interactive Service should be made aware of the potential risks to them. You acknowledge that our Interactive Services are not designed for or targeted at children.</li>
                <li>Where we do moderate an Interactive Service, we will normally provide you with a means of contacting the moderator, should a concern or difficulty arise.</li>
            </ul>
        </p>

        <h3 style="background: #1f486b; padding: 10px; margin-top: 0">4. Content Standards</h3>
        <p class="lead">
            <ul style="list-style: disc">
                <li>These content standards apply to all User Content submitted for publication on our site by you and other users of the site, and to any Interactive Services associated with it.</li>
                <li>You acknowledge that the nature and intention of our services are to enable users to create records which can be shared with the user's permission to access help, support and advice. We also aim to provide a forum to enable users to share and discuss their experiences. You must comply with the spirit of the following standards as well as the letter. The standards apply to each part of any User Content as well as to its whole.</li>
                <li>We may at our entire discretion, and for any reason, refuse any User Content or refuse to allow any person to become a registered user if we do not consider that such content or user is in compliance with the terms of this Acceptable Use Policy.</li>
                <li>User Content must:</li>
                <ul style="list-style: disc">
                    <li>be relevant to the nature and intention of the site as described above;</li>
                    <li>be true, accurate in all respects and not misleading;</li>
                    <li>be genuinely held, where it states opinions;</li>
                    <li>comply with all applicable laws in the UK;</li>
                    <li>comply with the UK Code of Non-broadcast Advertising and Direct & Promotional Marketing (CAP Code);</li>
                </ul>
                <li>User Content must not:</li>
                <ul style="list-style: disc">
                    <li>contain the name or contact information of, or a web link to, any commercial website;</li>
                    <li>offer credit;</li>
                    <li>suggest or imply in any way that you have qualifications or accreditations that you do not genuinely hold;</li>
                    <li>be a financial promotion within the meaning of the Financial Services and Markets Act 2000 (as amended);</li>
                    <li>offer any promotion, game, prize or competition contrary to any applicable legislation;</li>
                    <li>in any way damage or risk damaging our goodwill, brand or reputation;</li>
                    <li>promote sexually explicit material;</li>
                    <li>promote violence;</li>
                    <li>promote discrimination based on race, sex, religion, nationality, disability, sexual orientation or age;</li>
                    <li>infringe any copyright, database right, trade mark or other Intellectual Property Right of any other person;</li>
                    <li>be likely to deceive or mislead any person;</li>
                    <li>be made in breach of any legal duty owed to a third party, such as a contractual duty or a duty of confidence;</li>
                    <li>promote any illegal activity;</li>
                    <li>be threatening or abusive;</li>
                    <li>be used to impersonate any person, or to misrepresent your identity or affiliation with any person;</li>
                    <li>give the impression that they emanate from us, if this is not the case;</li>
                    <li>advocate, promote or assist any unlawful act such as, by way of example only, copyright infringement or computer misuse.</li>
                </ul>
            </ul>
        </p>

        <h3 style="background: #1f486b; padding: 10px; margin-top: 0">5. Consequences of breaching this policy</h3>
        <p class="lead">
            <ul style="list-style: disc">
                <li>We will determine, in our discretion, whether there has been a breach of this Acceptable Use Policy through your use of our site. When a breach of this policy has occurred, we may take such action as we deem appropriate.</li>
                <li>Failure to comply with this Acceptable Use Policy constitutes a material breach of the <strong>Terms of Use</strong> on which you are permitted to use our site, and may result in our taking all or any of the following actions:</li>
                <ul style="list-style: disc">
                    <li>immediate, temporary or permanent withdrawal of your right to use our site;</li>
                    <li>immediate, temporary or permanent removal of any User Content submitted by you to our site;</li>
                    <li>issue of a warning to you;</li>
                    <li>legal proceedings against you for reimbursement of all costs on an indemnity basis (including, but not limited to, reasonable administrative and legal costs) resulting from the breach;</li>
                    <li>further legal action against you;</li>
                    <li>disclosure of such information to law enforcement authorities and the courts as we reasonably feel is necessary or as required by law.</li>
                </ul>
                <li>We exclude our liability for all action we may take in response to breaches of this Acceptable Use Policy. The actions described above are not limited, and we may take any other action we reasonably deem appropriate.</li>
                <li>You agree to indemnify us and keep us indemnified in respect of any liabilities, losses, expenses or other costs (including but not limited to all costs and expenses, including any VAT thereon, which we may incur in connection with the defence of such claims) howsoever incurred as a result of a breach of your obligations under this Acceptable Use Policy, including but not limited to any claims or proceedings made against us by any third party.</li>
            </ul>
        </p>

        <h3 style="background: #1f486b; padding: 10px; margin-top: 0">6. Moderation</h3>
        <p class="lead">User Content is not generally moderated, although we reserve the right to moderate it. We will not be responsible as author, editor or publisher of any User Content and we expressly exclude our liability for any loss or damage arising from the use of our site by any person in contravention of this Acceptable Use Policy. We reserve the right to promptly remove, or to disable access to, any User Content which we deem to be or which is notified to us as being potentially defamatory of any person, unlawful, in violation of any third party rights or in contravention of this Acceptable Use Policy.</p>

        <h3 style="background: #1f486b; padding: 10px; margin-top: 0">7. Changes to this policy</h3>
        <p class="lead">We may revise this Acceptable Use Policy at any time by amending this page. We will also update the ‘Last Modified’ date at the bottom of this Acceptable Use Policy. You are expected to check this page from time to time to take note of any changes we make, as they are legally binding on you. Some of the provisions contained in this Acceptable Use Policy may also be superseded by provisions or notices published elsewhere on our site.</p>

        <p class="lead">Last modified 14<sup>th</sup> May 2018</p>

        <p>
            <a class="button button-light button-clear button-block" ui-sref="guidance">
                <i class="fa fa-arrow-left fa-fw"></i> back to guidance
            </a>
        </p>
    </ion-content>
</ion-view>
