<ion-view title="Guidance" id="guidancePage">
    <ion-content class="content padding guidance" ng-cloak>
        <div class="list">
            <a class="item item-dark" ui-sref="makingRecords">
                Getting started
            </a>
            <a class="item item-dark" ui-sref="gatherEvidence">
                How to gather evidence
            </a>
            <a class="item item-dark" ui-sref="userAgreement">
                App User Agreement
            </a>
            <a class="item item-dark" ui-sref="privacyPolicy">
                Privacy Policy
            </a>
        </div>

        <a class="button button-light button-clear button-block" ui-sref="home">
            <i class="fas fa-long-arrow-alt-left"></i> back to home
        </a>
    </ion-content>
</ion-view>
