<ion-view title="Guidance" id="guidancePage">
    <ion-content class="content padding guidance" ng-cloak>
        <div class="list">
            <a class="item item-icon-left" ui-sref="userAgreement">
                <i class="icon ion-ios-paper-outline"></i>&nbsp;
                App User Agreement
            </a>
            <a class="item item-icon-left" ui-sref="privacyPolicy">
                <i class="icon ion-ios-information-outline"></i>&nbsp; 
                Privacy Policy
            </a>
            <a class="item item-icon-left" ui-sref="gatherEvidence">
                <i class="icon ion-ios-pie-outline"></i>&nbsp;
                How to gather evidence
            </a>
            <a class="item item-icon-left" ui-sref="makingRecords">
                <i class="icon ion-ios-pulse"></i>&nbsp;
                How to start making records
            </a>
        </div>
    </ion-content>
</ion-view>
