<ion-view title="Getting started" id="makingRecordsPage">
    <ion-content class="content padding guidance-content" ng-cloak>
        <p>Welcome to OnRecord.  Here’s how to get started.  Do read this guidance as it will help you.</p>
        <p>At the bottom of this guidance there’s a  link to take you to the ‘Home’ screen where you can start making records.</p>

        <p>
            <strong>On the 'Home' screen</strong>, tap on <strong>'Add a new thread'</strong> to start making records. 
            Choose a name and colour for the thread that will allow you to remember what your records will be about. 
            See our guidance - <a href="http://onrecord.tech/using-our-app/">http://onrecord.tech/using-our-app/</a> - for advice about the naming of threads in different situations. You can add as many threads as you want, to keep track of different types of event and different issues.  Each thread will be colour coded so that you can tell them apart on the timeline.  You can change the name or colour of a thread if you need to by swiping the thread box to the left and choosing ‘Edit’.
        </p>

        <p>
            <strong>'Start'</strong><br>
            Tap on ‘Start’ to get going.            
        </p>

        <p>
            <strong>'When did it happen?'</strong><br>
            The default setting is the current date and time. To make an accurate record, enter the actual date and time of the event so that it will be recorded on the timeline and in the calendar to show when it happened. You can make backdated entries if you are starting to make records after some things have already happened.
        </p>

        <p>
            <strong>'What happened?'</strong><br>
            Remember that the more detail and facts you put here the better. In telling the story, try to answer each question: 

            <ul>
                <li>Who?</li>
                <li>What?</li>
                <li>Where?</li>
                <li>Why?</li>
                <li>With what result?</li>
            </ul>

            If there were witnesses, give their names and contact details here.
        </p>

        <p>If there were children present, and it could have been harmful to them, say so here and say which children.</p>
        <p>Say how the event has affected you. Has it stopped you from doing something or made you do something you would not otherwise have done? If the event has upset you or had a severe impact on you or someone else, explain what.</p>

        <p>
            <strong>'Rate the impact of this event on you'</strong><br> 
            This is important for the records. Impact means how much the event has affected you or someone else. You can move the slider from 0 to 3, the higher the number the greater the impact.  If it’s affected someone else, say who was affected and how they were affected in the ‘What happened’ section. It may have upset you or the other person or it may have caused fear or made you or someone else change what they were doing or going to do.
        </p>

        <p>
            <strong>‘+’</strong><br>
            Upload a photo, a video or an audio recording.  For safety’s sake do it through the app, rather than using the phone’s own camera or voice recorder. Taking photos etc through the app means that the record is not stored on your phone but only on our secure server. <br>
            You can show on your mobile, photos and videos you have uploaded but audio files may not play.  Once uploaded, though, all will have been saved on our server and can be played there.
        </p>

        <p>
            <strong>'Save drat'</strong><br>
            This button lets you save what you have entered, for example if you have to do something else before you upload it, so that you can come back later to either add to it or upload it.
        </p>

        <p>
            <strong>'Upload'</strong>
            Uploads the record in encrypted form to our secure server. Your original record cannot be changed once it’s saved.  If you need to change the information you have uploaded in a previous record you will have to make a new record with the changes you want and date it to the same date and time as the original so that the two records can be seen together.
        </p>

        <p>
            <strong>From the Menu:</strong>
        </p>

        <p>
            <strong>Your account details</strong><br>
            Tap on your user name to see the details you have entered to open your account.  You can make changes and add information at any time.            
        </p>

        <p>
            <strong>'Calendar'</strong><br>
            The calendar shows the records entered for each day, labelled by colour.  A red dot show the number of records each day.<br>
            Tap on the day and you will see each record with thread name and timing.  Tap on each to see the original record.
        </p>

        <p>
            <strong>'Timeline'</strong><br>
            The timeline shows the records you have saved, a month at a time.  In the ‘portrait’ view, the height of each column shows the total of impact scores for that day from all threads combined.  The numbers in circles in the columns are the number of records in each thread.  The ‘landscape’ view shows the month in full.
        </p>

        <p>Tapping on a column shows the date, total impact for the day and the total impact in each thread.</p>
        <p>Choose which timelines you see by tapping on thread names at the top of the screen to remove or re-show them.</p>

        <p>
            <strong>'Settings'</strong><br>
            <ul>
                <li>
                    <strong>'Privacy and security'</strong>
                </li>
            </ul>
        </p>

        <p>
            <strong>'Passcode and Fingerprint login'</strong><br>
            If your phone allows it you can choose to login by PIN and/or fingerprint.  Tap on the buttons to enable them.  This allows rapid login but only if you logout via the Home button.  If you logout using the ‘Logout’ in ‘Settings’, you will have to login again using your username and password.
        </p>

        <p>
            <strong>'Do not store on this device'</strong><br>
            <strong>'Delete all records'</strong>
        </p>

        <p>
            If you are afraid that someone will get access to your phone and see the records you have made, it is best to enable the ‘Do not store on this device’ button.  All the records you upload will be saved on our secure server and can be accessed through our website login.<br>
            If you decide at any time that you are at risk and shouldn’t have the records on your phone, tap the red ‘delete’ button to delete all your existing records and also enable the ‘Do not store on this device’ button so that no new records are stored on your phone.  Your thread names will still be visible so you may want to change them by editing or deleting them – see the guide on ‘Add a new thread’ above.  Your threads and records will be saved and untouched on the server.
        </p>

        <p>
            <strong>'Choose App Icon (iPhone only)</strong><br>
            In iPhone you can choose a different icon to disguise the app.
        </p>

        <p>
            <strong>'Password management'</strong><br>
            This is where you change your password.
        </p>

        <p>
            <ul>
                <li><strong>Logout</strong></li>
            </ul>
        </p>

        <p>Pressing the ‘Home’ button on your phone will immediately log you out.  You have to login again for access or use the PIN or fingerprint login for convenience.  If you logout using this ‘Logout’ in the ‘settings’ menu, you will need to use your username and password to login again.</p>

        <p>
            <a class="button button-light button-clear button-block" ui-sref="guidance" ng-if="!firstLogin">
                <i class="fa fa-arrow-left fa-fw"></i> back to guidance
            </a>

            <a class="button button-light button-clear button-block" ui-sref="home" ng-if="firstLogin">
                <i class="fa fa-arrow-right fa-fw"></i> continue to home
            </a>
        </p>
    </ion-content>
</ion-view>
