<ion-view title="Getting started" id="makingRecordsPage">
    <ion-content scroll="false">
        <ion-slides options="options" slider="data.slider">
            <ion-slide-page>
                <ion-content class="content padding guidance-content">
                    <div id="slide1">
                        <p class="lead">Welcome to OnRecord. Here’s how to get started. Do read this guidance as it will help you.</p>
                        <p class="lead">At the bottom of this guidance there’s a link to take you to the ‘Home’ screen where you can start making records.</p>

                        <p class="lead">
                            <strong>On the 'Home' screen</strong>, tap on<br>
                            <strong>'Add a new thread'</strong><br>
                            To start making records, tap on ‘Add a new thread’. Choose a name and colour for the thread that will allow you to
                            remember what your records will be about. See our guidance - <a href="#" onclick="window.open('https://onrecord.tech/whats-it-for/', '_system', 'location=yes'); return false;">https://onrecord.tech/whats-it-for</a> - for advice about
                            the many situations where OnRecord will help and the threads that may be most useful. You can add as many threads as
                            you want, to keep track of different types of events and different issues. Each thread will be colour coded so that you
                            can tell them apart on the timeline. You can change the name or colour of a thread if you need to by swiping the
                            thread box to the left and choosing ‘Edit’.
                        </p>
                        <p class="lead"><br /></p>
                    </div>
                </ion-content>
            </ion-slide-page>
            <ion-slide-page>
                <ion-content class="content padding guidance-content">
                    <div id="slide2">
                        <h4 class="section-heading">Start</h4>
                        <p>Tap on ‘Start’ to get going.</p>

                        <h4 class="section-heading">Tell me what happened?</h4>
                        <p class="lead">If you don’t want to type or dictate your record, or if you will type only a summary, tap on the microphone icon and immediately record an account of what happened.</p>
                        <p class="lead">Tap on the + to upload a photo, video, another voice recording or a document.</p>
                        <p class="lead">For safety’s sake take photos or make recordings through the app, rather than using the phone’s own camera or voice recorder. Taking photos etc through the app means that the record is not stored on your phone but only on our server.</p>
                        <p class="lead">You can show on your mobile, photos and videos you have uploaded but audio files may not play. Once uploaded, though, all will have been saved on our server and can be played there.</p>

                        <h4 class="section-heading">When did it happen?</h4>
                        <p class="lead">The default setting is the current date and time. To make an accurate record, enter the actual date and time of the event so that it will be recorded on the timeline and in the calendar to show when it happened. You can make backdated entries if you are starting to make records after some things have already happened.</p>

                        <h4 class="section-heading">What happened?</h4>
                        <p class="lead">
                            Remember that the more detail and facts you put here the better.<br />
                            In telling the story, try to answer each question:
                        </p>

                        <ul class="lead">
                            <li>Who?</li>
                            <li>What?</li>
                            <li>Where?</li>
                            <li>Why?</li>
                            <li>With what result?</li>
                        </ul>

                        <p class="lead">If there were witnesses, give their names and contact details here.</p>
                        <p class="lead">If there were children present, and it could have been harmful to them, say so here and say which children.</p>
                        <p class="lead">Say how the event has affected you. Has it stopped you from doing something or made you do something you would not otherwise have done? If the event has upset you or had a severe impact on you or someone else, explain what.</p>
                        <p class="lead"><br /></p>
                    </div>
                </ion-content>
            </ion-slide-page>
            <ion-slide-page>
                <ion-content class="content padding guidance-content">
                    <div id="slide3">
                        <h4 class="section-heading">Rate the impact of this event on you</h4>
                        <p class="lead">This is important for the records. Impact means how much the event has affected you or someone else. You can move the slider from 0 to 3, the higher the number the greater the impact.  If it’s affected someone else, say who was affected and how they were affected in the ‘What happened’ section. It may have upset you or the other person or it may have caused fear or made you or someone else change what they were doing or going to do.</p>

                        <h4 class="section-heading">Save draft</h4>
                        <p class="lead">This button lets you save what you have entered, for example if you have to do something else before you upload it, so that you can come back later to either add to it or upload it.</p>

                        <h4 class="section-heading">Upload</h4>
                        <p class="lead">Uploads the record in encrypted form to our cloud based server (secured by Amazon Web Services). Your original record cannot be changed once it’s saved. If you need to change the information you have uploaded in a previous record you will have to make a new record with the changes you want and date it to the same date and time as the original so that the two records can be seen together.</p>
                        <p class="lead"><br /></p>
                    </div>
                </ion-content>
            </ion-slide-page>
            <ion-slide-page>
                <ion-content class="content padding guidance-content">
                    <div id="slide4">
                        <h4>What's on the Menu?</h4>

                        <h4 class="section-heading">Your account details are available if you tap on your username</h4>
                        <p class="lead">Tap on your user name to see the details you have entered to open your account. You can make changes and add information at any time.</p>

                        <h4 class="section-heading">Calendar</h4>
                        <p class="lead">The calendar shows the records entered for each day, labelled by colour. A red dots show the number of records each day.</p>
                        <p class="lead">Tap on the day and you will see each record with thread name and timing. Tap on each to open the original record.</p>

                        <h4 class="section-heading">Timeline</h4>
                        <p class="lead">The timeline shows the records you have saved, a month at a time. In the ‘portrait’ view, the height of each column shows the total of impact scores for that day from all threads combined. The numbers in circles in the columns are the number of records in each thread. The ‘landscape’ view shows the month in full.</p>
                        <p class="lead">Tapping on a column in the timeline shows the date, total impact for the day and the total impact in each thread.</p>
                        <p class="lead">Choose which timelines you see by tapping on thread names at the top of the screen to remove or re-show them.</p>
                        <p class="lead"><br /></p>
                    </div>
                </ion-content>
            </ion-slide-page>
            <ion-slide-page>
                <ion-content class="content padding guidance-content">
                    <div id="slide5">
                        <h4 class="section-heading">Settings</h4>

                        <div class="indent-container">
                            <h4 class="section-heading">Account Security</h4>

                            <h4 class="section-heading">Passcode and Fingerprint login</h4>
                            <p class="lead">If your phone allows it you can choose to login by PIN and/or fingerprint. Tap on the buttons to enable them. This allows rapid login but only if you logout via the Home button. If you logout using the ‘Logout’ in ‘Settings’, you will have to login again using your username and password.</p>

                            <h4 class="section-heading">Don't store on this device</h4>
                            <h4 class="section-heading">Delete all records</h4>
                            <p class="lead">If you decide at any time that you are at risk and shouldn’t have the records on your phone, tap the red ‘Delete all records on this device’ button to delete all your existing records (they are still safely stored on our server and not deleted there) and also the ‘Do not store on this device’ button so that no new records are stored on your phone.</p>

                            <p class="lead">
                                If you decide at any time that you are at risk and shouldn’t have the records on your
                                phone, tap the red ‘delete’ button to delete all your existing records and also enable
                                the ‘Do not store on this device’ button so that no new records are stored on your
                                phone. Your thread names will still be visible so you may want to change them by
                                editing or deleting them – see the guide on ‘Add a new thread’ above. Your threads and
                                records will be saved and untouched on the server.
                            </p>

                            <p class="lead">All the new records you upload will still be saved on our server and can be accessed through our website login.</p>
                            <p class="lead">Your thread names will still be visible so you may want to change them by editing or deleting them – see the guide on ‘Add a new thread’ above. Your threads and records will be saved, untouched on the server.</p>

                            <h4 class="section-heading">A useful tip! Reloarding records from the platform and synchronising with a new device</h4>
                            <p class="lead">If you have deleted your records, you can reload all the records from the server to your phone by pulling down the ‘Home’ screen. If you login to the mobile app on a new device, you can load all the records from the platform onto it in the same way. N.B. If the records don’t load on the first pull, do it again.</p>

                            <h4 class="section-heading">Add your phone number</h4>
                            <p class="lead">Adding your phone number will enable us to offer you ‘two factor authentication’ for added security.  This means that when you login, you enter your username and password as usual but you also get a PIN on your phone, which you will need to enter, to confirm that it is you logging in.</p>

                            <h4 class="section-heading">Password management</h4>
                            <p class="lead">This is where you change your password.</p>

                            <h4 class="section-heading">Choose App Icon (iPhone only)</h4>
                            <p class="lead">In iPhone (iOS 10+) you can choose a different icon to personalise or disguise the app.</p>
                        </div>
                        <p class="lead"><br /></p>
                    </div>
                </ion-content>
            </ion-slide-page>
            <ion-slide-page>
                <ion-content class="content padding guidance-content">
                    <div id="slide6">
                        <h4 class="section-heading">Advice Threads</h4>
                        <p class="lead">When you have connected to an organisation or professional, they can send you messages using ‘Advice Threads’.  These threads and messages cannot be seen on your timeline or calendar but are only available to you and the person who sent them.  To see them, tap on ‘Advice Threads’ and then pull the screen down with your finger and release it.  The messages will then download to your phone. and existing messages will be updated.</p>

                        <h4 class="section-heading">Shared Threads</h4>
                        <p class="lead">You may agree with the organisation or professional you connect with to share only some of your threads. These will show here.</p>

                        <h4 class="section-heading">Connect to Organisation</h4>
                        <p class="lead">Choose an organisation or professional from the drop down list.  A message will be automatically sent to the organisation you choose and they will then be able to access your records.</p>
                        <p class="lead">If they are not on the list, click on ‘Request organization’ and give us as much detail as you can. Our team will then identify and connect with your requested organization or professional to enable them to access your records.</p>

                        <h4 class="section-heading">Need Help?</h4>
                        <p class="lead">We are happy to help you make better records by giving guidance. Contact us by email at admin@analogue.digital and we will get back to you.</p>
                        <p class="lead">There is a lot of advice and guidance on our website too and we are creating helpful videos on our YouTube channel: OnRecord</p>
                        <p class="lead">Feedback on the app is also very welcome.</p>

                        <h4 class="section-heading">Guidance and Legal</h4>
                        <p class="lead">We keep all the current documents here.</p>

                        <h4 class="section-heading">Sign out</h4>
                        <p class="lead">Pressing ‘Sign out’ will log you out and so will pressing the ‘Home’ button on your phone.  This is for security, so that nobody who happens to tap the OnRecord icon on your phone can see your records.</p>
                        <p class="lead">You have to login again with username and password.</p>

                        <p class="lead">To login quickly, go to <strong>'Settings'</strong> set up a PIN or fingerprint login for convenience. </p>

                        <a class="button button-royal button-block" ui-sref="guidance" ng-if="!firstLogin">
                            <i class="fa fa-arrow-left fa-fw"></i> back to guidance
                        </a>

                        <a class="button button-royal button-block" ui-sref="home" ng-if="firstLogin">
                            <i class="fa fa-arrow-right fa-fw"></i> continue to home
                        </a>

                        <p class="lead"><br /></p>
                    </div>
                </ion-content>
            </ion-slide-page>
        </ion-slides>
    </ion-content>
</ion-view>
