<ion-view title="Getting started" id="makingRecordsPage">
    <ion-content class="content padding guidance-content" ng-cloak>
        <p>Choose the device you want to use for your records.  The app doesn’t synchronise across devices so choose the device you are most likely to use.  If you later login on a different device you will still be able to input records but you will not be able to see your past records.</p>

        <h3>Add a new thread</h3>
        <p>To start making records, click on ‘Add a new thread’. Choose a name and colour for the thread that will allow you to remember what your records will be about. See our guidance - http://onrecord.tech/using-our-app/ - for advice about the naming of threads in different situations. You can add as many threads as you want, to keep track of different types of event and different issues.  Each thread will be colour coded so that you can tell them apart on the timeline.  You can change the name or colour of a thread if you need to.</p>

        <h3>When did it happen?</h3>
        <p>The default setting is the current date and time. To make an accurate record, enter the actual date and time of the event so that it will be recorded on the timeline and in the calendar to show when it happened. You can backdate entries.</p>

        <h3>What happened?</h3>
        <p>Remember that the more detail and facts you put here the better your record will be.</p>
        <p>In telling the story, try to answer each question:</p>
        <p>
            <ul>
                <li>Who?</li>
                <li>What?</li>
                <li>Where?</li>
                <li>Why?</li>
                <li>With what result?</li>
            </ul>
        </p>

        <p>If there were witnesses, give their names and contact details here.</p>
        <p>If there were children present, and it could have been harmful to them, say so here and say which children.</p>
        <p>Say how the event has affected you. Has it stopped you from doing something or made you do something you would not otherwise have done? If the event has upset you or had a severe impact on you or someone else, explain what.</p>

        <h3>Rate the impact of this event on you</h3>
        <p>This is important for the records. Impact means how much the event has affected you or someone else.  You can move the slider from 0 to 3, the higher the number the greater the impact.  If it’s affected someone else, say who was affected and how they were affected in the ‘What happened’ section. It may have upset you or the other person or it may have caused fear or made you or someone else change what they were doing or going to do.</p>

        <h3>Upload pictures, audio etc.</h3>
        <p>For safety’s sake, take a photo or a video through the app, rather than using the phone’s own camera. Taking photos etc through the app means that the record is not stored on your phone (ensure that you haven’t given permission for media to be stored on the phone) but only on our secure server.</p>
        <p>Photos and videos will be tagged for place and time.</p>

        <h3>Submit</h3>
        <p>Saves the encrypted record to our secure server. Your original record cannot be changed once it’s saved but if you need to change something, just make a new record with the changes but date it to the same date and time as the original so that the two records can be seen together.</p>

        <h3>Timeline</h3>
        <p>The timeline shows the records you have saved on this phone (if you login on a different device, you won’t see your previous records), a month at a time.  Vertical view shows the total of impact scores in the height of each column and the number of each type of thread record (in the small circles).  The horizontal view shows the month in full.</p>
        <p>Tapping on a column shows the total impact for the day and the total impact in each thread.</p>
        <p>Filter the timeline by tapping on a thread colour key at the top of the screen to remove or re-show it.</p>

        <h3>Calendar</h3>
        <p>The calendar shows the records entered for each day, labelled by colour.</p>
        <p>Tap on the day and you will see each record with thread name and timing.  Tap on each to see the original record.</p>

        <h3>Deleting records</h3>
        <p>If you are afraid that someone will get access to your phone and see the records you have made, you can delete them by going to ‘Settings’ and use ‘Delete all local data’.  Your thread names will still be visible but all the records will be deleted from your phone.  They will be saved and untouched on the server.</p>

        <h3>Logout</h3>
        <p>Pressing the ‘Home’ button on your phone will immediately log you out.  You have to login again for access or use the PIN or fingerprint login for convenience.</p>

        <h3>PIN and Fingerprint login</h3>
        <p>If your phone allows it you can choose to login by PIN or fingerprint via the ‘Settings’ menu.  This allows rapid login if you logout via the Home button.  But if you logout using the ‘Logout’ in ‘Settings’, you will have to login again using your username and password.</p>

        <h3>Choose App Icon (iPhone only)</h3>
        <p>In iPhone you can choose a different icon to disguise the app.  See the choice in ‘Settings’.</p>

        <p>
            <a class="button button-light button-clear button-block" ui-sref="guidance" ng-if="!firstLogin">
                <i class="fa fa-arrow-left fa-fw"></i> back to guidance
            </a>

            <a class="button button-light button-clear button-block" ui-sref="home" ng-if="firstLogin">
                <i class="fa fa-arrow-right fa-fw"></i> continue to home
            </a>
        </p>
    </ion-content>
</ion-view>
