<ion-view title="Privacy Policy" id="privacyPolicyPage">
    <ion-content class="content padding guidance-content" ng-cloak>
        <h3 style="background: #1f486b; padding: 10px; margin-top: 0">1. Who we are</h3>
        <p class="lead">We are Tadpole Cottage Ltd, trading as analogue.DIGITAL. We are registered in England and Wales under company register number 7463715. Our registered office address is Tadpole Cottage, Tadpole Lane SN25 2DZ. For the purposes of the General Data Protection Regulations (GDPR) (Regulation (EU) 2016/679), the data controller is Tadpole Cottage Ltd and our Data Protection Officer is Dr George Hibbert.</p>
        <p class="lead">Our services include the OnRecord mobile app, our OnRecord website, our platform, which is accessed via our website, and our emails.  We are committed to safeguarding the privacy of those using our services.</p>

        <h3 style="background: #1f486b; padding: 10px; margin-top: 0">2. What personal information is and what this policy is about</h3>
        <p class="lead">Personal information is information that can be used to identify you, such as your name, address, phone number or email address.</p>
        <p class="lead">This policy describes what information we collect, why we collect it, what we do with it, what we don’t do with it and what rights you have.</p>
        <p class="lead">By providing us with your personal information you consent to us using it in accordance with this policy, our <strong>Terms of Use</strong> and our <strong>Cookie Policy</strong>.</p>
        <p class="lead">Any definitions used in this Privacy Policy shall have the same meanings as provided in our <strong>Terms of Use</strong>.</p>
        <p class="lead">Nothing in this Privacy Policy shall limit your statutory rights in relation to your personal information.</p>
        <p class="lead">If you do not agree to the terms set out in this Privacy Policy, you should not use our services.</p>

        <h3 style="background: #1f486b; padding: 10px; margin-top: 0">3. Our Privacy Policy in summary</h3>
        <p class="lead">
            <ul style="list-style: disc">
                <li>We collect information that is either personal information (which can identify you, as outlined above) or non-personal information (such as IP addresses and pages accessed, which cannot identify you);</li>
                <li>We collect personal information about the people that use the OnRecord mobile app and those who use our platform;</li>
                <li>We collect your personal information so that we can provide you with the services or goods you want and to provide you with information;</li>
                <li>We only collect the personal information that we need;</li>
                <li>We do our very best to keep personal information secure;</li>
                <li>You can have your personal information deleted by asking us to do so;</li>
                <li>We never sell your information and we will never share it with another company or charity for marketing purposes;</li>
                <li>We will only share personal information if we are required to by law;</li>
                <li>Our website uses cookies – for more information see our <b>Cookie Policy</b>.</li>
            </ul>
        </p>

        <h3 style="background: #1f486b; padding: 10px; margin-top: 0">4. The personal information we collect and why</h3>
        <p class="lead">We collect two kinds of information:</p>
        <p class="lead">
            <ul style="list-style: disc">
                <li>Non-personal information such as IP addresses (the location of the computer on the internet), pages accessed or searched for. This helps us to know how many people use our website, how many people visit on a regular basis, and how popular specific pages are on our website. It doesn’t tell us anything about who you are or where you live. It simply allows us to monitor and improve our service.</li>
                <li>Personal information such as your name, your address, phone number, email address, date of birth, information about your subscription and any information about the services you use either via our OnRecord mobile app or via our platform.</li>
                <li>We only collect personal information if you open an account to use our mobile app or if you wish to login to our platform.</li>
                <li>We collect this information in order to:
                    <ul style="list-style: disc">
                        <li>Log you in securely and connect you to services you want;</li>
                        <li>Ensure that you are the correct person to have access to those records, either yours or those of others, that you are entitled to access;</li>
                        <li>Respond to your enquiries or requests for advice or assistance;</li>
                        <li>Manage subscriptions</li>
                        <li>Manage your links to organisations from whom you can receive help;</li>
                    </ul>
                </li>
                <li>We use cookies on our website. Please see our Cookies Policy for further information</li>
                <li>You don’t disclose any personal information by browsing the website.</li>
            </ul>
        </p>

        <h3 style="background: #1f486b; padding: 10px; margin-top: 0">5. What we do with your personal information</h3>
        <p class="lead">We will use the information you provide to:</p>
        <p class="lead">
            <ul style="list-style: disc">
                <li>Fulfil your requests – such as your subscription requirements, if applicable;</li>
                <li>Process payments and verify financial transactions where relevant;</li>
                <li>Record any contact we have with you;</li>
                <li>Prevent or detect fraud or abuses of our website and enable third parties to carry out technical, logistical or other functions on our behalf;</li>
                <li>If you have agreed, provide you with information that we think may be of interest to you.</li>
            </ul>
        </p>
        <p class="lead">We will remove any information which can identify you from data used to:</p>
        <p class="lead">
            <ul style="list-style: disc">
                <li>Carry out research on the demographics, interests and behaviour of people who use our services.  This research is to help us gain a better understanding of the problems and difficulties people are having and how they can best be helped.  It may allow us to improve and extend our services so that we can help people more. Research of this kind may be carried out internally by our employees or we may ask others to do it;</li>
                <li>Communicate with our investors and other supporters.</li>
            </ul>
        </p>

        <h3 style="background: #1f486b; padding: 10px; margin-top: 0">6. Using information about you for marketing</h3>
        <p class="lead">
            <ul style="list-style: disc">
                <li>We may send you marketing information but only if you have specifically indicated you agree to us doing so and in the way(s) you have agreed to. Our marketing information covers;</li>
                <ul style="list-style: disc">
                    <li>information about our company and our services,</li>
                    <li>opportunities we can offer of ways you can get help or provide help to others;</li>
                </ul>
            </ul>
        </p>

        <p class="lead">We will attempt to notify you of ways to change your communication preferences with any letter/email we send you.</p>
        <p class="lead">
            <ul style="list-style: disc">
                <li>We use cookies to help us understand how people use our website. This information is used solely for analogue.DIGITAL to better understand and measure the effectiveness of our website, improve it and ensure that the content is relevant and easy to use. Cookies are anonymous and do not provide any information that may put your privacy at risk. You can find out more about the cookies we use in our Cookie Policy or about cookies generally at <b>allaboutcookies.org</b></li>
            </ul>
        </p>

        <h3 style="background: #1f486b; padding: 10px; margin-top: 0">7. How we manage our marketing</h3>
        <p class="lead">
            <ul style="list-style: disc">
                <li>We may use third party marketing partners who may set cookies before you reach our site. If you wish to prevent this type of cookie (sometimes known as a ‘third party’ or ‘analytical’ cookie), you may do so through your device’s browser security settings.</li>
                <li>You may sometimes see our services advertised on other websites. Cookies provided by the other websites or advertising networks can tell us how effective this is. For example, if you click on one of our advertisements, the website owner might use a cookie to tell us that you came from their site. You can choose to disable third party cookies by updating your device settings.</li>
            </ul>
        </p>

        <h3 style="background: #1f486b; padding: 10px; margin-top: 0">8. Sharing your personal information</h3>
        <p class="lead">
            <ul style="list-style: disc">
                <li>We will only share your information if we are legally required to do so by a law enforcement agency legitimately exercising a power, or if compelled by an order of the Court.</li>
                <li>We may work with carefully-selected partners who may carry out work on our behalf. These partners may include mailing houses, marketing agencies and IT specialists. The kind of work we may ask them to do includes answering questions about products or services, sending postal mail, emails and text messages, carrying out research, analysis and processing card payments. We only choose partners we can trust. We will only pass personal data to them if they have signed a contract that requires them to:
                    <ul style="list-style: disc">
                        <li>abide by the requirements of the GDPR;</li>
                        <li>treat your information as carefully as we would;</li>
                        <li>only use the information for the purposes it was supplied (and not for their own purposes or the purposes of any other organisation);</li>
                        <li>allow us to carry out checks to ensure they are doing all these things.</li>
                    </ul>
                </li>
            </ul>
        </p>

        <h3 style="background: #1f486b; padding: 10px; margin-top: 0">9. Storing your personal information</h3>
        <p class="lead">
            <ul style="list-style: disc">
                <li>Information is stored by us on computers and servers located in the UK. The information that we collect from you will not be transferred to a destination outside the European Economic Area (“EEA”). We will take all steps reasonably necessary to ensure adequate security for your personal information.</li>
                <li>We place great importance on the security of all personally identifiable information associated with people who use our services. We have security measures in place to attempt to protect against the loss, misuse and alteration of personal personal information under our control. While we cannot ensure or guarantee that loss, misuse or alteration of data will not occur while it is under our control, we use our best efforts to try to prevent it.</li>
                <li>Unfortunately, the transmission of information across the internet is not completely secure and whilst we do our best to try to protect the security of your information, by encrypting it, we cannot ensure or guarantee that loss, misuse or alteration of data will not occur whilst data is being transferred.</li>
                <li>We will keep your information only for as long as we need it to provide you with the services or information you have required, to administer your relationship with us, to comply with the law, or to ensure we do not communicate with people that have asked us not to.</li>
            </ul>
        </p>

        <h3 style="background: #1f486b; padding: 10px; margin-top: 0">10. Security statement</h3>
        <p class="lead">
            <ul style="list-style: disc">
                <li>analogue.DIGITAL will store your personal information as securely as we can.</li>
                <li>We use the Secure Sockets Layer (SSL) protocol to protect information being transmitted over the internet. SSL provides communications privacy which allows your computer to communicate with our server in a way that is designed to prevent tampering or message forgery.</li>
                <li>We will take all reasonable care to keep the details of your personal information secure but unless we have been negligent, we will not be liable for any losses you may suffer as a result of unauthorised access by a third party to the information transmitted by you when using any of our services.</li>
            </ul>
        </p>

        <h3 style="background: #1f486b; padding: 10px; margin-top: 0">11. What we don’t do with your personal information</h3>
        <p class="lead">We never sell or share your information to other organisations, to use for their own purposes.</p>

        <h3 style="background: #1f486b; padding: 10px; margin-top: 0">12. Your rights</h3>
        <p class="lead">The GDPR (General Data Protection Regulations (Regulation (EU) 2016/679)) gives you rights over your personal information and how we use it. These include:</p>
        <p class="lead">
            <ul style="list-style: disc">
                <li>the right in certain circumstances to have inaccurate personal information rectified, blocked, erased or destroyed;</li>
                <li>the right to prevent your information being used for direct marketing;</li>
                <li>the right of access to a copy of the personal information we hold about you (known as a subject access request);</li>
                <li>If you wish to exercise any of these rights please contact our Data Protection Officer Dr George Hibbert in writing at our office address.</li>
                <li>For more information about your rights under the Data Protection Act and GDPR go to the website of the Information Commissioner’s Office at org.uk</li>
            </ul>
        </p>

        <h3 style="background: #1f486b; padding: 10px; margin-top: 0">13. Changes to this policy</h3>
        <p class="lead">
            <ul style="list-style: disc">
                <li>We may revise this Privacy Policy at any time by amending this page. We will also update the “Last Modified” date at the bottom of this Privacy Policy.</li>
                <li>You are expected to check this page from time to time to take notice of any changes we made, as they are binding on you.</li>
                <li>Some of the provisions contained in this Privacy Policy may also be superseded by provisions or notices published elsewhere on our website.</li>
                <li>You should check this page occasionally to ensure you are happy with any changes we make. Your continued use of this site following any changes to this Privacy Policy will mean you accept those changes.</li>
            </ul>
        </p>

        <h3 style="background: #1f486b; padding: 10px; margin-top: 0">14. If you have a complaint</h3>
        <p class="lead">If you have a complaint regarding our use of your personal information please contact our Data Protection officer Dr George Hibbert george.hibbert@analogue.digital or you can go to the website of the Information Commissioner’s Office at ico.org.uk or write to them at Wycliffe House, Water Lane, Wilmslow, Cheshire, SK9 5AF or phone them on 0303 123 1113.</p>
        <p class="lead">Last modified 11<sup>th</sup> May 2018</p>

        <p>
            <a class="button button-light button-clear button-block" ui-sref="guidance">
                <i class="fa fa-arrow-left fa-fw"></i> back to guidance
            </a>
        </p>
    </ion-content>
</ion-view>
